<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Simple Line Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="line-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">HOLES IN DATA</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="hole-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Scatter Diagram</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="scatter-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart With Tooltip</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="tooltip-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart With Area</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="line-area-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Bi-Polar Line Chart With Area Only</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="bi-polar-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Advance Animation</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="smil-animation-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Svg Path Animation</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="svgpath-animation-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Series Override</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="override-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Bi-Polar Bar Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="bi-polar-bar-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Overlapping Bars on Mobile</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="overlapping-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Multi-Line Label Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="multiline-label-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Stacked Bar Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="stacked-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Horizontal Bar Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="horizontal-bar-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Extreme Responsive Bar Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="extreme-responsive-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Distributed Series</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="distributed-bar-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Label Placement on Top</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-major-seventh" id="top-label-bar-chart"></div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Simple Pie Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-octave" id="simple-pie-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Pie Chart With Custom Labels</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-octave" id="custom-labels-pie-chart"></div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Gauge Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-octave" id="gauge-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Animating Donut Chart</h3>
                <div class="panel-tools">
                    <panel-collapse></panel-collapse>
                    <panel-dispose></panel-dispose>
                </div>
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-octave" id="animating-donut-chart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    yimaPage.init();
</script>