<div class="row">
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div class="col">
                    <i class="pe-7s-user text-danger f-35"></i>
                </div>
                <div class="col f-25">14,258</div>
            </div>
            <div class="f-15 p-5">
                Returning Users

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div class="col">
                    <i class="pe-7s-bell text-primary f-35"></i>
                </div>
                <div class="col f-25">8</div>
            </div>
            <div class="f-15">
                Unread Messages

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-10 p-l-20 h-100">
            <div>
                <div class="f-25">
                    82

                    <span class="f-12">K</span>
                </div>
            </div>
            <div class="">
                Visitors

            </div>
            <div class="w-65 p-5" data-width="100%" data-height="15px" data-sparkline="line"
                 data-linewidth="2" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                 data-linecolor="danger" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                 data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                 data-set="4,3,4,5,3,4,3,4,3,4">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-10 p-l-20 h-100">
            <div>
                <div class="f-25">
                    58

                    <span class="f-12">%</span>
                </div>
            </div>
            <div class="">
                Progress

            </div>
            <div class="progress progress-xxs w-80 m-t-15">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Sales</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body p-10">
                <div class="">
                    <span class="b-400 f-13 text-muted v-a-middle">TODAY SALES</span>
                    <i class="pe-7s-up-arrow p-5 f-20 text-success v-a-middle"></i>
                    <span class="b-400 f-15 v-a-middle">187,236K</span>
                    <div class="pull-right f-15" id="chart1-legend"></div>
                </div>
                <div id="chart1" class="h-300"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Revenue</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body p-10">
                <div class="">
                    <span class="b-400 f-13 text-muted v-a-middle">Weekly Revenue (USD)</span>
                    <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                    <span class="b-400 f-15 v-a-middle">2,106M</span>
                    <div class="pull-right f-15" id="chart2-legend"></div>
                </div>
                <div id="chart2" class="h-300"></div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Clients / Resellers</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body p-0">
                <div class="row bg-muted border-bottom-1 border-muted m-0">
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15">
                            <span class="b-400 f-13 text-muted v-a-middle">CLIENT PROFIT</span>
                            <i class="pe-7s-up-arrow p-5 f-20 text-success v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">23,149K</span>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15 pull-right">
                            <span class="b-400 f-13 text-muted v-a-middle">RESELLERS</span>
                            <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">6,054K</span>
                        </div>
                    </div>
                </div>
                <table id="scroll-verticall-table" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>$170,750</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>$433,060</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>$372,000</td>
                        </tr>
                        <tr>
                            <td>Herrod Chandler</td>
                            <td>Sales Assistant</td>
                            <td>$137,500</td>
                        </tr>
                        <tr>
                            <td>Rhona Davidson</td>
                            <td>Integration Specialist</td>
                            <td>$327,900</td>
                        </tr>
                        <tr>
                            <td>Colleen Hurst</td>
                            <td>Javascript Developer</td>
                            <td>$205,500</td>
                        </tr>
                        <tr>
                            <td>Sonya Frost</td>
                            <td>Software Engineer</td>
                            <td>$103,600</td>
                        </tr>
                        <tr>
                            <td>Jena Gaines</td>
                            <td>Office Manager</td>
                            <td>$90,560</td>
                        </tr>
                        <tr>
                            <td>Quinn Flynn</td>
                            <td>Support Lead</td>
                            <td>$342,000</td>
                        </tr>
                        <tr>
                            <td>Charde Marshall</td>
                            <td>Regional Director</td>
                            <td>$470,600</td>
                        </tr>
                        <tr>
                            <td>Haley Kennedy</td>
                            <td>Senior Marketing Designer</td>
                            <td>$313,500</td>
                        </tr>
                        <tr>
                            <td>Tatyana Fitzpatrick</td>
                            <td>Regional Director</td>
                            <td>$385,750</td>
                        </tr>
                        <tr>
                            <td>Michael Silva</td>
                            <td>Marketing Designer</td>
                            <td>$198,500</td>
                        </tr>
                        <tr>
                            <td>Paul Byrd</td>
                            <td>Chief Financial Officer (CFO)</td>
                            <td>$725,000</td>
                        </tr>
                        <tr>
                            <td>Gloria Little</td>
                            <td>Systems Administrator</td>
                            <td>$237,500</td>
                        </tr>
                        <tr>
                            <td>Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>$132,000</td>
                        </tr>
                        <tr>
                            <td>Dai Rios</td>
                            <td>Personnel Lead</td>
                            <td>$217,500</td>
                        </tr>
                        <tr>
                            <td>Jenette Caldwell</td>
                            <td>Development Lead</td>
                            <td>$345,000</td>
                        </tr>
                        <tr>
                            <td>Yuri Berry</td>
                            <td>Chief Marketing Officer (CMO)</td>
                            <td>$675,000</td>
                        </tr>
                        <tr>
                            <td>Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>$106,450</td>
                        </tr>
                        <tr>
                            <td>Doris Wilder</td>
                            <td>Sales Assistant</td>
                            <td>$85,600</td>
                        </tr>
                        <tr>
                            <td>Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>$1,200,000</td>
                        </tr>
                        <tr>
                            <td>Gavin Joyce</td>
                            <td>Developer</td>
                            <td>$92,575</td>
                        </tr>
                        <tr>
                            <td>Jennifer Chang</td>
                            <td>Regional Director</td>
                            <td>$357,650</td>
                        </tr>
                        <tr>
                            <td>Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>$206,850</td>
                        </tr>
                        <tr>
                            <td>Fiona Green</td>
                            <td>Chief Operating Officer (COO)</td>
                            <td>$850,000</td>
                        </tr>
                        <tr>
                            <td>Shou Itou</td>
                            <td>Regional Marketing</td>
                            <td>$163,000</td>
                        </tr>
                        <tr>
                            <td>Michelle House</td>
                            <td>Integration Specialist</td>
                            <td>$95,400</td>
                        </tr>
                        <tr>
                            <td>Suki Burks</td>
                            <td>Developer</td>
                            <td>$114,500</td>
                        </tr>
                        <tr>
                            <td>Prescott Bartlett</td>
                            <td>Technical Author</td>
                            <td>$145,000</td>
                        </tr>
                        <tr>
                            <td>Gavin Cortez</td>
                            <td>Team Leader</td>
                            <td>$235,500</td>
                        </tr>
                        <tr>
                            <td>Martena Mccray</td>
                            <td>Post-Sales support</td>
                            <td>$324,050</td>
                        </tr>
                        <tr>
                            <td>Unity Butler</td>
                            <td>Marketing Designer</td>
                            <td>$85,675</td>
                        </tr>
                        <tr>
                            <td>Howard Hatfield</td>
                            <td>Office Manager</td>
                            <td>$164,500</td>
                        </tr>
                        <tr>
                            <td>Hope Fuentes</td>
                            <td>Secretary</td>
                            <td>$109,850</td>
                        </tr>
                        <tr>
                            <td>Vivian Harrell</td>
                            <td>Financial Controller</td>
                            <td>$452,500</td>
                        </tr>
                        <tr>
                            <td>Timothy Mooney</td>
                            <td>Office Manager</td>
                            <td>$136,200</td>
                        </tr>
                        <tr>
                            <td>Jackson Bradshaw</td>
                            <td>Director</td>
                            <td>$645,750</td>
                        </tr>
                        <tr>
                            <td>Olivia Liang</td>
                            <td>Support Engineer</td>
                            <td>$234,500</td>
                        </tr>
                        <tr>
                            <td>Bruno Nash</td>
                            <td>Software Engineer</td>
                            <td>$163,500</td>
                        </tr>
                        <tr>
                            <td>Sakura Yamamoto</td>
                            <td>Support Engineer</td>
                            <td>$139,575</td>
                        </tr>
                        <tr>
                            <td>Thor Walton</td>
                            <td>Developer</td>
                            <td>$98,540</td>
                        </tr>
                        <tr>
                            <td>Finn Camacho</td>
                            <td>Support Engineer</td>
                            <td>$87,500</td>
                        </tr>
                        <tr>
                            <td>Serge Baldwin</td>
                            <td>Data Coordinator</td>
                            <td>$138,575</td>
                        </tr>
                        <tr>
                            <td>Zenaida Frank</td>
                            <td>Software Engineer</td>
                            <td>$125,250</td>
                        </tr>
                        <tr>
                            <td>Zorita Serrano</td>
                            <td>Software Engineer</td>
                            <td>$115,000</td>
                        </tr>
                        <tr>
                            <td>Jennifer Acosta</td>
                            <td>Junior Javascript Developer</td>
                            <td>$75,650</td>
                        </tr>
                        <tr>
                            <td>Cara Stevens</td>
                            <td>Sales Assistant</td>
                            <td>$145,600</td>
                        </tr>
                        <tr>
                            <td>Hermione Butler</td>
                            <td>Regional Director</td>
                            <td>$356,250</td>
                        </tr>
                        <tr>
                            <td>Lael Greer</td>
                            <td>Systems Administrator</td>
                            <td>$103,500</td>
                        </tr>
                        <tr>
                            <td>Jonas Alexander</td>
                            <td>Developer</td>
                            <td>$86,500</td>
                        </tr>
                        <tr>
                            <td>Shad Decker</td>
                            <td>Regional Director</td>
                            <td>$183,000</td>
                        </tr>
                        <tr>
                            <td>Michael Bruce</td>
                            <td>Javascript Developer</td>
                            <td>$183,000</td>
                        </tr>
                        <tr>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                            <td>$112,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Portal Overview</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body p-10">
                <div class="h-150" id="chart3"></div>
                <div class="row bg-muted border-bottom-1 border-muted m-0 m-t-5">
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15">
                            <span class="b-400 f-13 text-muted v-a-middle">VISITS</span>
                            <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">78,058K</span>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15 pull-right">
                            <span class="b-400 f-13 text-muted v-a-middle">UNIQUE VISITORS</span>
                            <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">1,936K</span>
                        </div>
                    </div>
                </div>
                <div class="row align-center m-t-10">
                    <div class="col-lg-4">
                        <div class="widget m-0 m-t-15 p-15">
                            <div>
                                <div class="col">
                                    <i class="pe-7s-clock text-warning f-35"></i>
                                </div>
                                <div class="col f-25">06:48</div>
                            </div>
                            <div class="f-15 p-5">
                                Hours Tracked
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 border-left-1 border-muted">
                        <div class="widget m-0 m-t-15 p-15">
                            <div>
                                <div class="col">
                                    <i class="pe-7s-user text-primary f-35"></i>
                                </div>
                                <div class="col f-25">2,365k</div>
                            </div>
                            <div class="f-15 p-5">
                                Users Monitored
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 border-left-1 border-muted">
                        <div class="widget m-0 m-t-15 p-15">
                            <div>
                                <div class="col">
                                    <i class="pe-7s-check text-danger f-35"></i>
                                </div>
                                <div class="col f-25">6,213</div>
                            </div>
                            <div class="f-15 p-5">
                                Transfers DOne
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="f-15 p-15">
                    <strong>Monthly User Graph</strong>
                    <div id="chart4-legend"></div>
                </div>
                <div id="chart4" class="h-200" style="margin: 30px -8px 0;"></div>
                <div class="row p-25">
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            164
                        </div>
                        <div class="f-15 b-200">
                            Online Users
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                             data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                             data-linecolor="success" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                             data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="6,6,7,6,3,6,7,4,5,9,6,1,2">
                        </div>
                    </div>
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            203
                        </div>
                        <div class="f-15 b-200">
                            Today Registers
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px"
                             data-sparkline="line" data-linewidth="1" data-highlightlinecolor="#fff"
                             data-highlightspotcolor="#fff" data-linecolor="warning" data-fillcolor="#fff"
                             data-maxspotcolor="#ffce55" data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="6,6,7,4,5,9,6,1,2,7">
                        </div>
                    </div>
                </div>
                <div class="row p-25">
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            96
                        </div>
                        <div class="f-15 b-200">
                            Today Sales
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                             data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                             data-linecolor="info" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                             data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="6,7,4,5,9,6,1,2,7,6,3,1,1">
                        </div>
                    </div>
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            2
                        </div>
                        <div class="f-15 b-200">
                            Returned Orders
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                             data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                             data-linecolor="default" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                             data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="1,2,3,1,1,2,1,2,3,1,1,2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="f-15 p-t-20 align-center p-20">
                    <div class="b-300 text-muted">Search Engines</div>
                    <strong>Tuesday, October 27, 2015</strong>
                </div>
                <div class="align-center m-t-40">
                    <div class="ep-chart" data-percent="75" data-toggle="easypiechart" data-barcolor="primary" data-size="180" data-linewidth="2">
                        <span class="percent f-25" style="line-height: 90px;"><i class="pe-7s-up-arrow f-20 p-5"></i>75</span>
                    </div>
                </div>
                <div class="p-25 m-t-40">
                    <div class="row">
                        <div class="col-lg-3 border-primary border-left-2 p-5">
                            <div class="f-15 b-500">55%</div>
                            <div class="text-muted f-15 b-300">Google</div>
                        </div>
                        <div class="col-lg-3  border-danger border-left-2 p-5">
                            <div class="f-15 b-500">25%</div>
                            <div class="text-muted f-15 b-300">Bing</div>
                        </div>
                        <div class="col-lg-3 border-warning border-left-2 p-5">
                            <div class="f-15 b-500">10%</div>
                            <div class="text-muted f-15 b-300">Ask</div>
                        </div>
                        <div class="col-lg-3 border-info border-left-2 p-5">
                            <div class="f-15 b-500">10%</div>
                            <div class="text-muted f-15 b-300">Other</div>
                        </div>
                    </div>
                </div>
                <div class="bg-primary m-t-70 p-15 b-300 h-90">
                    <div class="f-30 p-10 pull-left">
                        2014
                    </div>
                    <div class="f-30 bg-default pull-right p-20 box-shadow shadow-xlg" style="margin-top: -55px">2015</div>
                </div>
                <div class="p-10 f-14 b-300 h-40">
                    <a href="" class="text-muted pull-right">
                        View Compelete Data Set
                        <i class="pe-7s-angle-right-circle v-a-middle f-20"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    yimaPage.init();
</script>