<div class="row dashboard-minimal">
    <div class="col-lg-4 p-50 minimal-company">
        <div class="f-50 b-200">Microsoft</div>
        <div class="f-25 b-200" style="margin-top: -10px;">Seattel Area</div>
        <div class="f-15 b-300 m-t-25">
            <span class="text-muted">Category:</span>
            <a href="" class="text-primary">Software</a>
        </div>

        <div class="company-desc b-300 f-15 text-muted">
            At Microsoft, we understand the real value of technology lies in the skills it builds, the opportunities it creates, and the horizons it broadens.
                
        </div>
        <div class="company-logo">
            <img src="assets/img/other/microsoft-logo.png" class="h-50 w-50" alt="microsoft"/>
            <div class="f-15 m-t-10 b-300">
                <a href="" class="text-primary">microsoft.com</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 minimal-data">
        <div class="row m-t-10 p-50 p-l-25 p-r-25">
            <div class="col-lg-4 data-info">
                <div class="widget p-10 bg-transparent">
                    <div class="">
                        <div class="f-13">
                            Sales
                        </div>
                        <div class="f-35 b-200">
                            24<span class="f-20">%</span>
                        </div>
                    </div>
                    <div>
                        <div class="" data-width="100%" data-height="50px" data-sparkline="line" data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff" data-linecolor="primary"
                                data-fillcolor="transparent" data-maxspotcolor="#ffce55" data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0" data-set="6,6,5,4,1,7,9,6,7,6,3,6,7">
                        </div>
                    </div>
                    <div class="m-t-10">
                        <div class="f-13">
                            Monthly Growth: 80%
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-primary">
                                120
                            </div>
                            <div class="f-13 b-200">
                                New Orders
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-primary">
                                86
                            </div>
                            <div class="f-13 b-200">
                                Inline Orders
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-info">
                <div class="widget p-10 bg-transparent">
                    <div class="">
                        <div class="f-13">
                            Average Benefit
                        </div>
                        <div class="f-35 b-200">
                            108<span class="f-20">$</span>
                        </div>
                    </div>
                    <div>
                        <div class="" data-width="100%" data-height="50px" data-sparkline="line" data-linewidth="1" data-highlightlinecolor="#fff"
                             data-highlightspotcolor="#fff" data-linecolor="warning" data-fillcolor="transparent" data-maxspotcolor="#ffce55"
                             data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="9,6,1,8,1,2,1,2,2,4,9,9,9">
                        </div>
                    </div>
                    <div class="m-t-10">
                        <div class="f-13">
                            Weekly Growth: 14%
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-warning">
                                25
                            </div>
                            <div class="f-13 b-200">
                                Min Benefit
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-warning">
                                1200
                            </div>
                            <div class="f-13 b-200">
                                Max Benefit
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 data-info">
                <div class="widget p-10 bg-transparent">
                    <div class="">
                        <div class="f-13">
                            Resellers
                        </div>
                        <div class="f-35 b-200">
                            24.2<span class="f-20">k</span>
                        </div>
                    </div>
                    <div>
                        <div class="" data-width="100%" data-height="50px" data-sparkline="line" data-linewidth="1" data-highlightlinecolor="#fff"
                             data-highlightspotcolor="#fff" data-linecolor="default" data-fillcolor="transparent" data-maxspotcolor="#ffce55"
                             data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                             data-set="1,3,3,5,1,4,3,7,2,8,6,6,4">
                        </div>
                    </div>
                    <div class="m-t-10">
                        <div class="f-13">
                            Current Month: 1.25<span class="f-11"> k</span>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-default">
                                148
                            </div>
                            <div class="f-13 b-200">
                                Overall
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="f-20 b-200 text-default">
                                23
                            </div>
                            <div class="f-13 b-200">
                                Current
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chart1" class="h-300 data-chart"></div>
    </div>
</div>

<script>
    yimaPage.init();
</script>