<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Simple Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <div class="ep-chart" data-percent="86" data-toggle="easypiechart" data-barcolor="default">
                        <span class="percent">86</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Pie With Track Color</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <div class="ep-chart" data-percent="73" data-toggle="easypiechart" data-barcolor="default" data-trackcolor="inverse" data-linewidth="10">
                        <span class="percent">73</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Pie With Scale</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <div class="ep-chart" data-percent="25" data-toggle="easypiechart" data-barcolor="default" data-scalecolor="inverse" data-linewidth="5">
                        <span class="percent">25</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Rounded Pie</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <div class="ep-chart" data-percent="55" data-toggle="easypiechart" data-barcolor="inverse" data-linewidth="10" data-linecap="round">
                        <span class="percent">55</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>