<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Lables</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body bs-example">
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
                <span class="label label-inverse">Inverse</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Badges</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <span class="badge badge-default">1</span>
                <span class="badge badge-primary">2</span>
                <span class="badge badge-success">3</span>
                <span class="badge badge-info">4</span>
                <span class="badge badge-warning">5</span>
                <span class="badge badge-danger">6</span>
                <span class="badge badge-inverse">7</span>

                <h6>Square Badges</h6>
                <span class="badge badge-square badge-default">1</span>
                <span class="badge badge-square badge-primary">2</span>
                <span class="badge badge-square badge-success">3</span>
                <span class="badge badge-square badge-info">4</span>
                <span class="badge badge-square badge-warning">5</span>
                <span class="badge badge-square badge-danger">6</span>
                <span class="badge badge-square badge-inverse">7</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Simple Progress Bars</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h6>Basic</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span>60% Complete (warning)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete
                        </span>
                    </div>
                </div>
                <hr class="full-width" />
                <h6>Stripped</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)
                        </span>
                    </div>
                </div>
                <hr class="full-width" />
                <h6>Animated</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)
                        </span>
                    </div>
                </div>
                <hr class="full-width" />
                <h6>Stacked</h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                        <span class="sr-only">35% Complete (success)
                        </span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                        <span class="sr-only">20% Complete (warning)
                        </span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                        <span class="sr-only">10% Complete (danger)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Advanced Progress Bars</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h6>Sizes</h6>
                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete
                        </span>
                    </div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    </div>
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">80% Complete
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">80% Complete
                        </span>
                    </div>
                </div>
                <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">80% Complete
                        </span>
                    </div>
                </div>
                <div class="progress progress-xlg">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete
                        </span>
                    </div>
                </div>
                <h6>Bordered</h6>
                <div class="progress progress-xxs progress-bordered">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">40% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress progress-sm progress-bordered">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                        <span class="sr-only">20% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress progress-bordered">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">20% Complete (success)
                        </span>
                    </div>
                </div>
                <div class="progress progress-xlg progress-bordered">
                    <div class="progress-bar  progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40%
                        </span>
                    </div>
                </div>
                <hr class="full-width" />
                <h6>Right Aligned</h6>
                <div class="progress  progress-right">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)
                        </span>
                    </div>
                </div>
                <hr class="full-width" />
                <h6>Bordered & Stacked</h6>
                <div class="progress progress-bordered">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                        <span class="sr-only">35% Complete (success)
                        </span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                        <span class="sr-only">20% Complete (warning)
                        </span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                        <span class="sr-only">10% Complete (danger)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Vertical Progress Bars</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="progress progress-xlg progress-vertical ">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xlg progress-vertical progress-bottom ">
                    <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-lg progress-vertical progress-bottom ">
                    <div class="progress-bar  progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-sm progress-vertical ">
                    <div class="progress-bar progress-bar-striped progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xs progress-vertical ">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 50%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xxs  progress-vertical ">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Bordered Vertical Progress Bars</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="progress progress-xlg progress-vertical progress-bordered">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xlg progress-vertical progress-bottom progress-bordered">
                    <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-lg progress-vertical progress-bottom progress-bordered">
                    <div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-sm progress-vertical progress-bordered">
                    <div class="progress-bar progress-bar-striped progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xs progress-vertical progress-bordered">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 50%">
                        <span>40%
                        </span>
                    </div>
                </div>
                <div class="progress progress-xxs  progress-vertical progress-bordered">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span>40%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>