<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Real-time Chart</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="realtime-chart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Bar Chart</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="bar-chart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart (Stacked)</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="stacked-chart" style="height: 300px;"></div>
                <div class="hr-space space-xl"></div>
                <div class="row">
                    <div id="stackcontroll" class="col-lg-12 btn-group m-b-10">
                        <input type="button" class="btn btn-default" value="With stacking">
                        <input type="button" class="btn btn-default" value="Without stacking">
                    </div>
                    <div id="typecontroll" class="col-lg-12 btn-group">
                        <input type="button" class="btn btn-default" value="Bars">
                        <input type="button" class="btn btn-default" value="Lines">
                        <input type="button" class="btn btn-default" value="Lines with steps">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart (Selectable)</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="line-chart" style="height: 360px;"></div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Multiple Chart Types</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="multi-chart" style="height: 350px;"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Pie Chart</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="btn-toolbar">
                            <div class="btn-group-vertical">
                                <button id="example-1" class="btn btn-inverse ">Default Options</button>
                                <button id="example-2" class="btn btn-inverse ">Without Legend</button>
                                <button id="example-3" class="btn btn-inverse ">Label Formatter</button>
                                <button id="example-4" class="btn btn-inverse ">Label Radius</button>
                                <button id="example-5" class="btn btn-inverse ">Label Styles #1</button>
                                <button id="example-6" class="btn btn-inverse ">Label Styles #2</button>
                                <button id="example-7" class="btn btn-inverse ">Hidden Labels</button>
                                <button id="example-8" class="btn btn-inverse ">Combined Slice</button>
                                <button id="example-9" class="btn btn-inverse ">Rectangular Pie</button>
                                <button id="example-10" class="btn btn-inverse ">Tilted Pie</button>
                                <button id="example-11" class="btn btn-inverse ">Donut Hole</button>
                                <button id="example-12" class="btn btn-inverse ">Interactivity</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div id="pie-chart" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    yimaPage.init();
</script>