<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Input Masks</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <input type="text" data-mask="99/99/9999" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dash Seperated Date</label>
                            <input type="text" data-mask="99-99-9999" class="form-control" placeholder="DD-MM-YYYY">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Time</label>
                            <input type="text" data-mask="99:99:99" class="form-control" placeholder="00:00:00">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date & Time</label>
                            <input type="text" data-mask="99-99-9999 99:99:99" class="form-control" placeholder="DD-MM-YYYY 00:00:00">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Zip Code</label>
                            <input type="text" data-mask="99999" class="form-control" placeholder="Zip Code">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="text" data-mask="(999) 999-9999 x9999" class="form-control" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Credit Card</label>
                            <input type="text" data-mask="9999-9999-9999-9999" class="form-control" placeholder="Credit Card Number">
                        </div>
                        <div class="form-group">
                            <label class="control-label">HEX Color</label>
                            <input type="text" data-mask="#wwwwww" class="form-control" placeholder="Color HEX Code">
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>