<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Input Sizes</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="sminput">Small Input</label>
                        <input class="form-control input-sm" id="sminput" type="text" placeholder=".input-sm">
                    </div>
                    <div class="form-group">
                        <label for="definput">Default Input</label>
                        <input type="text" class="form-control" id="definput" placeholder="Default input">
                    </div>
                    <div class="form-group">
                        <label for="lginput">Large Input</label>
                        <input class="form-control input-lg" id="lginput" type="text" placeholder=".input-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Input Colors</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="dinput">Input</label>
                        <input type="text" class="form-control" id="dinput" placeholder="Default input">
                    </div>
                    <div class="form-group">
                        <label for="darkinput">Dark Input</label>
                        <input type="text" class="form-control bg-default" id="darkinput" placeholder=".bg-default">
                    </div>
                    <div class="form-group">
                        <label for="primaryinput">Primary Input</label>
                        <input type="text" class="form-control bg-primary" id="primaryinput" placeholder=".bg-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Disabled State</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledTextInput">Disabled input</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">Disabled select menu</label>
                            <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="text">Can't check this</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Input Groups</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">.0</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon">.0</span>
                        </div>
                    </div>
                    <h5>Sizing</h5>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <h5>With Icon</h5>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope text-primary"></i></span>
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Inputs With Icons</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h5>Append Icons</h5>
                <form>
                    <div class="form-group">
                        <div class="append-icon">
                            <input type="text" class="form-control input-sm">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="append-icon">
                            <input type="text" class="form-control">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="append-icon">
                            <input type="text" class="form-control input-lg">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </form>
                <hr class="full-width" />
                <h5>Prepend Icons</h5>
                <form>
                    <div class="form-group">
                        <div class="prepend-icon">
                            <input type="text" class="form-control input-sm">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="prepend-icon">
                            <input type="text" class="form-control">
                            <i class="fa fa-clipboard"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="prepend-icon">
                            <input type="text" class="form-control input-lg">
                            <i class="pe-7s-monitor"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Buttond Addons</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="full-width">
                    <h4>Sizing</h4>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-space space-lg"></div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-lg">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <hr class="full-width">
                    <h5>Buttons with dropdowns</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a class="btn btn-primary" href="javascript:void(0);">Actions</a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu dropdown-primary">
                                        <li>
                                            <a href="javascript:void(0);">Action</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Another action</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="javascript:void(0);">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Validation States</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Input with success</label>
                    <input type="text" class="form-control" id="inputSuccess1">
                </div>
                <div class="form-group has-warning">
                    <label class="control-label" for="inputWarning1">Input with warning</label>
                    <input type="text" class="form-control" id="inputWarning1">
                </div>
                <div class="form-group has-error">
                    <label class="control-label" for="inputError1">Input with error</label>
                    <input type="text" class="form-control" id="inputError1">
                </div>
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
                    </div>
                    <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">With optional icons</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputSuccess2">Input with success</label>
                    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    <span class="pe-7s-check form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group has-warning has-feedback">
                    <label class="control-label" for="inputWarning2">Input with warning</label>
                    <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
                    <span class="fa fa-warning form-control-feedback" aria-hidden="true"></span>
                    <span id="inputWarning2Status" class="sr-only">(warning)</span>
                </div>
                <div class="form-group has-error has-feedback">
                    <label class="control-label" for="inputError2">Input with error</label>
                    <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                </div>
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                    </div>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">CheckBox and RadioBoxes</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <h5>Checkboxes</h5>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked">
                                <span class="text">Basic</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox-inverse" checked="checked">
                                <span class="text">Inverse</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox-danger" checked="checked">
                                <span class="text">Danger</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox-primary" checked="checked">
                                <span class="text">Primary</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox-warning" checked="checked">
                                <span class="text">Warning</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox-info" checked="checked">
                                <span class="text">Info</span>
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="full-width">
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Simple Radio Buttons</h5>
                        <div class="hr-space space-xl"></div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" type="radio" checked="checked">
                                    <span class="text">Option1 </span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio" type="radio">
                                    <span class="text">Option2</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h5>Inverse Radio Buttons</h5>
                        <div class="hr-space space-xl"></div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio2" type="radio" checked="checked" class="radio-inverse">
                                    <span class="text">Option1 </span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="form-field-radio2" type="radio" class="radio-inverse">
                                    <span class="text">Option2</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="full-width">
                <h5>Colored Inline Radio Buttons</h5>
                <div class="hr-space space-xl"></div>
                <div class="form-group">
                    <div class="radio radio-inline">
                        <label>
                            <input name="form-field-radio3" type="radio" class="radio-danger" checked="checked">
                            <span class="text">IOS</span>
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input name="form-field-radio3" type="radio" class="radio-info">
                            <span class="text">Windows Phone</span>
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input name="form-field-radio3" type="radio" class="radio-success">
                            <span class="text">Android</span>
                        </label>
                    </div>

                    <div class="radio radio-inline">
                        <label>
                            <input name="form-field-radio3" type="radio" class="radio-warning">
                            <span class="text">Blackberry</span>
                        </label>
                    </div>
                </div>
                <hr class="full-width">
                <h5>Disabled Controls</h5>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" disabled="disabled">
                                <span class="text">CheckBox</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" disabled="disabled">
                                <span class="text">Radio Button</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Switches</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <h6>Default Switch Types</h6>
                    <div class="hr-space"></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>
                                <input class="switch" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>
                                <input class="switch" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    <hr class="full-width">
                    <h6>YES/NO Switches</h6>
                    <div class="hr-space"></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>
                                <input class="switch yesno" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon yesno" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle yesno" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>
                                <input class="switch yesno" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon yesno" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle yesno" type="checkbox" checked="checked">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    <hr class="full-width">
                    <h6>Colored Switches</h6>
                    <div class="hr-space"></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>
                                <input class="switch switch-primary" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon switch-primary" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle switch-primary" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch switch-danger" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon switch-danger" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle switch-danger" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch switch-success" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon switch-success" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle switch-success" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch switch-info" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon switch-info" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle switch-info" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch switch-warning" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch slider-icon switch-warning" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label>
                                <input class="switch toggle switch-warning" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>