<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Basic Map</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="basic-map" class="gmaps"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Geolocation</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="geolocation-map" class="gmaps"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Map With Markers</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="marker-map" class="gmaps"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Marker Clusterer</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="marker-clusterer-map" class="gmaps"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Map With Routes</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="route-map" class="gmaps large"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Advance Routes</h3>
                <div class="panel-tools">
                    <a class="tools-action" href="#" data-toggle="collapse">
                        <i class="pe-7s-angle-up"></i>
                    </a>
                    <a class="tools-action" href="#" data-toggle="dispose">
                        <i class="pe-7s-close"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="advance-route-map" class="gmaps large"></div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Your Route is:</h4>
                        <hr/>
                        <ul id="instructions" class="f-15">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>