<div class="mail-container">
    <div class="mail-header">
        <ul class="header-buttons" id="list-buttons">
            <li>
                <a href="" id="new-message">
                    <i class="icon pe-7s-plus"></i>
                    <span class="text">New Mail</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-refresh-2"></i>
                    <span class="text">Sync</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-print"></i>
                    <span class="text">Print</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-trash"></i>
                    <span class="text">Delete</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-back"></i>
                    <span class="text">Reply</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-back-2"></i>
                    <span class="text">Forward</span>
                </a>
            </li>
        </ul>
        <ul class="header-buttons hidden" id="compose-buttons">
            <li>
                <a href="" id="send-message">
                    <i class="icon pe-7s-paper-plane"></i>
                    <span class="text">Send</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-paperclip"></i>
                    <span class="text">Insert</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon pe-7s-config"></i>
                    <span class="text">Setting</span>
                </a>
            </li>
            <li>
                <a href="" id="discard-message">
                    <i class="icon pe-7s-junk"></i>
                    <span class="text">Discard</span>
                </a>
            </li>
        </ul>

        <ul class="header-buttons pull-right">
            <li class="search-box">
                <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
            </li>
        </ul>
    </div>
    <div class="mail-body">
        <ul class="message-list">
            <li class="list-item unread">
                <div class="item-label">
                    <span class="mail-label pink"></span>
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Bing</a>
                </div>
                <div class="item-subject">
                    <a href="">Your Bing Newsletter: The May Issue
                    </a>
                </div>

                <div class="item-time">
                    Today, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Codeplex Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Need some feedback please!
                    </a>
                </div>

                <div class="item-time">
                    Yesterday, 09:11
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Jaime</a>
                </div>
                <div class="item-subject">
                    <a href="">Ducksboard Webinar in 30 minutes
                    </a>
                </div>

                <div class="item-time">
                    Yesterfay, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                    <span class="mail-label blue"></span>
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">La Liga</a>
                </div>
                <div class="item-subject">
                    <a href="">All goals Matchday 38 Liga BBVA
                    </a>
                </div>

                <div class="item-time">
                    11 May, 13:52
                </div>
            </li>
            <li class="list-item unread">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Facebook</a>
                </div>
                <div class="item-subject">
                    <a href="">Action Required: Confirm Your Facebook Account
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Lorem Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Your ipsum is on fire.
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Bing</a>
                </div>
                <div class="item-subject">
                    <a href="">Your Bing Newsletter: The May Issue
                    </a>
                </div>

                <div class="item-time">
                    Today, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Codeplex Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Need some feedback please!
                    </a>
                </div>

                <div class="item-time">
                    Yesterday, 09:11
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Jaime</a>
                </div>
                <div class="item-subject">
                    <a href="">Ducksboard Webinar in 30 minutes
                    </a>
                </div>

                <div class="item-time">
                    Yesterfay, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                    <span class="mail-label green"></span>
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">La Liga</a>
                </div>
                <div class="item-subject">

                    <a href="">All goals Matchday 38 Liga BBVA
                    </a>
                </div>

                <div class="item-time">
                    11 May, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Facebook</a>
                </div>
                <div class="item-subject">
                    <a href="">Action Required: Confirm Your Facebook Account
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Lorem Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Your ipsum is on fire.
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Bing</a>
                </div>
                <div class="item-subject">
                    <a href="">Your Bing Newsletter: The May Issue
                    </a>
                </div>

                <div class="item-time">
                    Today, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Codeplex Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Need some feedback please!
                    </a>
                </div>

                <div class="item-time">
                    Yesterday, 09:11
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Jaime</a>
                </div>
                <div class="item-subject">
                    <a href="">Ducksboard Webinar in 30 minutes
                    </a>
                </div>

                <div class="item-time">
                    Yesterfay, 13:52
                </div>
            </li>
            <li class="list-item unread">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">La Liga</a>
                </div>
                <div class="item-subject">
                    <a href="">All goals Matchday 38 Liga BBVA
                    </a>
                </div>

                <div class="item-time">
                    11 May, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Facebook</a>
                </div>
                <div class="item-subject">
                    <a href="">Action Required: Confirm Your Facebook Account
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Lorem Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Your ipsum is on fire.
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item unread">

                <div class="item-label">
                    <span class="mail-label pink"></span>
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Dribbble</a>
                </div>
                <div class="item-subject">

                    <a href="">Dribbble Best Shots this week
                    </a>
                </div>

                <div class="item-time">
                    Today, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Codeplex Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Need some feedback please!
                    </a>
                </div>

                <div class="item-time">
                    Yesterday, 09:11
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Jaime</a>
                </div>
                <div class="item-subject">
                    <a href="">Ducksboard Webinar in 30 minutes
                    </a>
                </div>

                <div class="item-time">
                    Yesterfay, 13:52
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                    <span class="mail-label blue"></span>
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">La Liga</a>
                </div>
                <div class="item-subject">
                    <a href="">All goals Matchday 38 Liga BBVA
                    </a>
                </div>

                <div class="item-time">
                    11 May, 13:52
                </div>
            </li>
            <li class="list-item unread">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Facebook</a>
                </div>
                <div class="item-subject">
                    <a href="">Action Required: Confirm Your Facebook Account
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
            <li class="list-item">
                <div class="item-label">
                </div>
                <div class="item-check">
                    <label>
                        <input type="checkbox">
                        <span class="text"></span>
                    </label>
                </div>
                <div class="item-star">
                    <a href="#" class="">
                        <i class="fa fa-star-o"></i>
                    </a>
                </div>
                <div class="item-sender">
                    <a href="">Lorem Team</a>
                </div>
                <div class="item-subject">
                    <a href="">Your ipsum is on fire.
                    </a>
                </div>

                <div class="item-time">
                    9 May, 10:01
                </div>
            </li>
        </ul>
        <div class="message-view collapsed">
            <div class="message">
                <div class="header">
                    <div class="message-title">
                        Lorem Team (6)
                        <i class="pe-7s-close" id="message-close"></i>
                    </div>

                    <p>From <a href="#">You</a> to <a href="#">Lorem Team</a>, started on <a href="#">March 2, 2014</a> at 2:14 pm est.</p>
                </div>
                <ul class="message-container">
                    <li>
                        <div class="details">
                            <div class="sender">
                                You
                                <i class="arrow pe-7s-angle-right"></i>
                                Lorem Team
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                You
                                <i class="arrow pe-7s-angle-right"></i>
                                Lorem Team
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <div class="sender">
                                Lorem Team
                                    <i class="arrow pe-7s-angle-right"></i>
                                You
                            </div>
                            <div class="time">March 6, 2014, 20:08 pm</div>
                        </div>
                        <div class="message">
                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won't bring moved seasons very, own won't all itself blessed which bring own creature forth every. Called sixth light.</p>
                        </div>
                        <div class="tool-box">
                            <a href="#" class="pe-7s-back"></a>
                            <a href="#" class="pe-7s-trash"></a>
                            <a href="#" class="pe-7s-flag"></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="message-compose collapsed">
            <form method="post">
                <div class="form-group">
                    <label for="to">To:</label>
                    <input type="text" class="form-control" id="to" tabindex="1" />
                    <div class="field-options">
                        <a href="javascript:;" onclick="$(this).hide(); $('#cc').parent().removeClass('hidden'); $('#cc').focus();">Cc</a>
                        <a href="javascript:;" onclick="$(this).hide(); $('#bcc').parent().removeClass('hidden'); $('#bcc').focus();">Bcc</a>
                    </div>
                </div>
                <div class="form-group hidden">
                    <label for="cc">CC:</label>
                    <input type="text" class="form-control" id="cc" tabindex="2" />
                </div>
                <div class="form-group hidden">
                    <label for="bcc">BCC:</label>
                    <input type="text" class="form-control" id="bcc" tabindex="2" />
                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" tabindex="1" />
                </div>
                <div class="compose-message-editor">
                    <div id="email-text" class="summernote"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    yimaPage.init();
</script>