<div class="row">
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="row">
                    <div class="col w-100 h-100 align-center bg-primary">
                        <img src="assets/img/avatars/allison.jpg" class="h-100 w-100" alt="allison" />
                    </div>
                    <div class="col w-m-100 p-15 p-l-20">
                        <div class="f-20 b-400">
                            Andrea LeFeave
                        <i class="pe-7s-check f-25 text-success v-a-middle"></i>
                        </div>
                        <div class="f-15 b-300 text-muted m-t-5">
                            <i class="pe-7s-call f-20 v-a-middle text-default"></i>
                            <span>0044-356-123856</span>
                            <i class="pe-7s-mail f-20 v-a-middle text-default p-l-25"></i>
                            <span>andrea@outlook.com</span>
                        </div>
                    </div>
                </div>
                <div class="p-35 f-14 bg-muted border-top-1 border-bottom-1 border-muted">
                    I'm Andrea. I’ve worked the last 9 years as a full-stack web developer with experience in all phases of web development life cycle.
                        I have collaborated in many projects as a developer and also as a team leader in companies all around the world.
                        I’m really passionate about new challenges in development process and the idea of creating new, unique and genuine websites. 
                </div>
                <div class="row align-center">
                    <div class="col-xs-4 p-15">
                        <div class="f-25 text-primary">
                            75
                        </div>
                        <div class="f-12">
                            Following
                        </div>
                    </div>
                    <div class="col-xs-4 p-15">
                        <div class="f-25 text-primary">
                            118
                        </div>
                        <div class="f-12">
                            Followers
                        </div>
                    </div>
                    <div class="col-xs-4 p-15">
                        <div class="f-25 text-primary">
                            24
                        </div>
                        <div class="f-12">
                            Posts
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget map-box">
                <div id="map" class="gmaps h-300"></div>
                <div class="box-footer">
                    8707 Lexington Drive, Harrisonburg, VA 22801
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <h4 class="header-text">Andrea's Life-Time</h4>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget">
                <div class="f-13 p-10 border-bottom-1 border-muted b-400">
                    Andrea's Contacts
                </div>
                <div class="p-10 border-bottom-1 border-muted">
                    <div class="form-group m-b-0">
                        <input type="text" class="form-control" placeholder="search and find new peaple">
                    </div>
                </div>
                <ul class="contact-list">
                    <li>
                        <div class="row">
                            <div class="col w-60 h-60">
                                <img src="assets/img/avatars/andy.jpg" class="w-60 h-60" alt="andy" />
                            </div>
                            <div class="col w-m-60 p-l-10">
                                <a href="" class="f-13 b-500">Kevin Sarandon
                                </a>
                                <div class="f-12 b-400">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col w-60 h-60">
                                <img src="assets/img/avatars/cleb.jpg" class="w-60 h-60" alt="cleb" />
                            </div>
                            <div class="col w-m-60 p-l-10">
                                <a href="" class="f-13 b-500">Cleb Downly
                                </a>
                                <div class="f-12 b-400">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col w-60 h-60">
                                <img src="assets/img/avatars/jim.jpg" class="w-60 h-60" alt="jim" />
                            </div>
                            <div class="col w-m-60 p-l-10">
                                <a href="" class="f-13 b-500">Arian Ministianan
                                </a>
                                <div class="f-12 b-400">
                                    Senior Recruiter Manager
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col w-60 h-60">
                                <img src="assets/img/avatars/adelle.jpg" class="w-60 h-60" alt="adelle" />
                            </div>
                            <div class="col w-m-60 p-l-10">
                                <a href="" class="f-13 b-500">Cristina Ericson
                                </a>
                                <div class="f-12 b-400">
                                    Account Manager
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col w-60 h-60">
                                <img src="assets/img/avatars/jared.jpg" class="w-60 h-60" alt="jared" />
                            </div>
                            <div class="col w-m-60 p-l-10">
                                <a href="" class="f-13 b-500">Alison Domino
                                </a>
                                <div class="f-12 b-400">
                                    Advertising Manager at Microsoft
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget row image-tile">
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g4.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-8" style="background: url('assets/img/gallery/g7.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g1.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-8" style="background: url('assets/img/gallery/g2.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g3.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g4.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g5.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-8" style="background: url('assets/img/gallery/g4.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile col-xs-4" style="background: url('assets/img/gallery/g7.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>

                <div class="tile col-xs-8" style="background: url('assets/img/gallery/g6.jpg') no-repeat center top; background-size: cover;">
                    <p>view gallery </p>
                </div>
                <div class="tile more-images col-xs-4">
                    <div class="images-number">42+</div>
                    Pictures
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget">
                <div class="f-13 p-10 border-bottom-1 border-muted b-400">
                    This Week Overview
                </div>
                <div class="p-10 p-l-15 p-r-15">
                    <ul class="timeline timeline-condensed">
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">8:19
                                </span><span class="timeline-date">Today</span>
                            </div>
                            <div class="timeline-badge blue">
                                <i class="pe-7s-ticket"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <span class="timeline-title">New Items Arrived
                                    </span>
                                    <p class="timeline-datetime">
                                        <small class="text-muted">

                                            <span class="timeline-date">Today</span>
                                            -
                                    <span class="timeline-time">8:19</span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">3:10
                                </span><span class="timeline-date">Today</span>
                            </div>
                            <div class="timeline-badge text-danger">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <span class="timeline-title">Visit Appointment
                                    </span>
                                    <p class="timeline-datetime">
                                        <small class="text-muted">
                                            <span class="timeline-date">Today</span>
                                            -
                                    <span class="timeline-time">3:10</span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">8:19
                                </span><span class="timeline-date">Yesterday</span>
                            </div>
                            <div class="timeline-badge">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <span class="timeline-title">Bank Report
                                    </span>
                                    <p class="timeline-datetime">
                                        <small class="text-muted">

                                            <span class="timeline-date">Yesterday</span>
                                            -
                                    <span class="timeline-time">8:19</span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">6:08
                                </span><span class="timeline-date">Yesterday</span>
                            </div>
                            <div class="timeline-badge">
                                <img src="assets/img/avatars/andy.jpg" class="badge-picture" alt="andy" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <span class="timeline-title">
                                        <a href="">Andy Griffin</a> has commented on your status
                                    </span>
                                    <p class="timeline-datetime">
                                        <small class="text-muted">

                                            <span class="timeline-date">Yesterday</span>
                                            -
                                    <span class="timeline-time">6:08</span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-datetime">
                                <span class="timeline-time">6:08
                                </span><span class="timeline-date">Yesterday</span>
                            </div>
                            <div class="timeline-badge">
                                <img src="assets/img/avatars/cleb.jpg" class="badge-picture" alt="cleb" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-header">
                                    <span class="timeline-title">
                                        <a href="">Cleb Jamson</a> is now a connection.
                                    </span>
                                    <p class="timeline-datetime">
                                        <small class="text-muted">

                                            <span class="timeline-date">24th October</span>
                                            -
                                    <span class="timeline-time">12:08</span>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <h4 class="header-text">People Similar to Andrea</h4>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget">
                <div class="profile-card">
                    <div class="card-header">
                        <div class="header-avatar">
                            <img src="assets/img/avatars/andy.jpg" alt="andy" />
                        </div>
                        <div class="header-name">
                            Alec Noel
                        </div>
                    </div>
                    <div class="card-body bg-warning">
                        <div class="body-description">
                            A user profile is a group of settings that define how Outlook is set up for a particular user. For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="footer-social">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget">
                <div class="profile-card">
                    <div class="card-header">
                        <div class="header-avatar">
                            <img src="assets/img/avatars/claudio.jpg" alt="claudio" />
                        </div>
                        <div class="header-name">
                            Jayson Rowland
                        </div>
                    </div>
                    <div class="card-body bg-primary">
                        <div class="body-description">
                            A user profile is a group of settings that define how Outlook is set up for a particular user. For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="footer-social">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget-container">
            <div class="widget">
                <div class="profile-card">
                    <div class="card-header">
                        <div class="header-avatar">
                            <img src="assets/img/avatars/jared.jpg" alt="jared" />
                        </div>
                        <div class="header-name">
                            Read Jude
                        </div>
                    </div>
                    <div class="card-body bg-info">
                        <div class="body-description">
                            A user profile is a group of settings that define how Outlook is set up for a particular user. For example, a profile may include access to a mailbox on Microsoft Exchange Server, and specify that the Outlook Address Book appear in the Address Book dialog box. A profile can contain any number of information services.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="footer-social">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>