<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Bar Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="bar" data-height="75px" data-width="100%" data-barcolor="primary" data-negbarcolor="default" data-zerocolor="warning"
                        data-barwidth="10px" data-barspacing="5px" data-set="5,6,7,2,0,-4,-2,4">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Stacked Bar Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="bar" data-height="75px" data-width="100%" 
                        data-barwidth="10px" data-barspacing="5px" data-stackedbarcolor='["#27292c", "#FFC107"]'
                        data-set="2:2,2:3,3:2,1:3">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Multiple Bar Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="compositebar" data-height="75px" data-width="100%"
                        data-barcolor="default" data-negbarcolor="#f4b400" data-zerocolor="#d73d32"
                        data-barwidth="8px" data-barspacing="4px"
                        data-fillcolor="false" data-linecolor="primary" data-spotradius="5" data-linewidth="3"
                        data-set="8,4,0,1,4,6,2,4,4,8,10,7,10"
                        data-compositeset="4, 1, 5, 7, 9, 9, 8, 7, 6, 6, 4, 7">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Tristate Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="tristate" data-height="75px" data-width="100%"
                        data-posbarcolor="primary" data-negbarcolor="default" data-zerobarcolor="danger"
                        data-barwidth="8px" data-barspacing="4px" data-zeroaxis="false"
                        data-set="1,1,0,1,-1,-1,1,-1,0,0,1,1">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Line Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="line" data-height="75px" data-width="100%" data-fillcolor="primary" data-linecolor="primary" data-spotradius="5"
                        data-set="5,6,7,9,9,5,3,4,4,3,6,7">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Composite Libe Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="compositeline" data-height="75px" data-width="100%" data-linecolor="primary" data-secondlinecolor="default"
                        data-fillcolor="false" data-secondfillcolor="false" data-linewidth="1" data-spotradius="3"
                        data-set="8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10" 
                        data-compositeset="4, 1, 5, 7, 9, 9, 8, 7, 6, 6, 4, 7, 8, 4, 3, 2, 2, 5, 6, 7">
                    </span>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Pie Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="pie" data-height="75px" data-width="75px" data-bordercolor="#fafafa"
                        data-slicecolors='["#27292c", "#29c7ca", "#FFC107","55606e"]'
                        data-set="1,1,2,1">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title">Discrete Chart</h3>
            </div>
            <div class="panel-body">
                <div class='align-center'>
                    <span data-sparkline="discrete" data-linecolor="default"
                        data-thresholdvalue="3" data-thresholdcolor="#cd4237"
                        data-set="4,6,7,7,4,3,2,1,4,4">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>