<div id="all-icons" class="row">
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-album"></i>
            <input type="text" readonly="" value="pe-7s-album" class="font-icon-name">
        </div>
    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-arc"></i>
            <input type="text" readonly="" value="pe-7s-arc" class="font-icon-name">
        </div>
    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-back-2"></i>
            <input type="text" readonly="" value="pe-7s-back-2" class="font-icon-name">
        </div>
    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bandaid"></i>
            <input type="text" readonly="" value="pe-7s-bandaid" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-car"></i>
            <input type="text" readonly="" value="pe-7s-car" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-diamond"></i>
            <input type="text" readonly="" value="pe-7s-diamond" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-door-lock"></i>
            <input type="text" readonly="" value="pe-7s-door-lock" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-eyedropper"></i>
            <input type="text" readonly="" value="pe-7s-eyedropper" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-female"></i>
            <input type="text" readonly="" value="pe-7s-female" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-gym"></i>
            <input type="text" readonly="" value="pe-7s-gym" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-hammer"></i>
            <input type="text" readonly="" value="pe-7s-hammer" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-headphones"></i>
            <input type="text" readonly="" value="pe-7s-headphones" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-helm"></i>
            <input type="text" readonly="" value="pe-7s-helm" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-hourglass"></i>
            <input type="text" readonly="" value="pe-7s-hourglass" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-leaf"></i>
            <input type="text" readonly="" value="pe-7s-leaf" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-magic-wand"></i>
            <input type="text" readonly="" value="pe-7s-magic-wand" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-male"></i>
            <input type="text" readonly="" value="pe-7s-male" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-map-2"></i>
            <input type="text" readonly="" value="pe-7s-map-2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-next-2"></i>
            <input type="text" readonly="" value="pe-7s-next-2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-paint-bucket"></i>
            <input type="text" readonly="" value="pe-7s-paint-bucket" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-pendrive"></i>
            <input type="text" readonly="" value="pe-7s-pendrive" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-photo"></i>
            <input type="text" readonly="" value="pe-7s-photo" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-piggy"></i>
            <input type="text" readonly="" value="pe-7s-piggy" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-plugin"></i>
            <input type="text" readonly="" value="pe-7s-plugin" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-refresh-2"></i>
            <input type="text" readonly="" value="pe-7s-refresh-2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-rocket"></i>
            <input type="text" readonly="" value="pe-7s-rocket" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-settings"></i>
            <input type="text" readonly="" value="pe-7s-settings" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-shield"></i>
            <input type="text" readonly="" value="pe-7s-shield" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-smile"></i>
            <input type="text" readonly="" value="pe-7s-smile" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-usb"></i>
            <input type="text" readonly="" value="pe-7s-usb" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-vector"></i>
            <input type="text" readonly="" value="pe-7s-vector" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-wine"></i>
            <input type="text" readonly="" value="pe-7s-wine" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cloud-upload"></i>
            <input type="text" readonly="" value="pe-7s-cloud-upload" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cash"></i>
            <input type="text" readonly="" value="pe-7s-cash" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-close"></i>
            <input type="text" readonly="" value="pe-7s-close" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bluetooth"></i>
            <input type="text" readonly="" value="pe-7s-bluetooth" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cloud-download"></i>
            <input type="text" readonly="" value="pe-7s-cloud-download" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-way"></i>
            <input type="text" readonly="" value="pe-7s-way" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-close-circle"></i>
            <input type="text" readonly="" value="pe-7s-close-circle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-id"></i>
            <input type="text" readonly="" value="pe-7s-id" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-up"></i>
            <input type="text" readonly="" value="pe-7s-angle-up" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-wristwatch"></i>
            <input type="text" readonly="" value="pe-7s-wristwatch" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-up-circle"></i>
            <input type="text" readonly="" value="pe-7s-angle-up-circle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-world"></i>
            <input type="text" readonly="" value="pe-7s-world" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-right"></i>
            <input type="text" readonly="" value="pe-7s-angle-right" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-volume"></i>
            <input type="text" readonly="" value="pe-7s-volume" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-right-circle"></i>
            <input type="text" readonly="" value="pe-7s-angle-right-circle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-users"></i>
            <input type="text" readonly="" value="pe-7s-users" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-left"></i>
            <input type="text" readonly="" value="pe-7s-angle-left" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-user-female"></i>
            <input type="text" readonly="" value="pe-7s-user-female" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-left-circle"></i>
            <input type="text" readonly="" value="pe-7s-angle-left-circle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-up-arrow"></i>
            <input type="text" readonly="" value="pe-7s-up-arrow" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-down"></i>
            <input type="text" readonly="" value="pe-7s-angle-down" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-switch"></i>
            <input type="text" readonly="" value="pe-7s-switch" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-angle-down-circle"></i>
            <input type="text" readonly="" value="pe-7s-angle-down-circle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-scissors"></i>
            <input type="text" readonly="" value="pe-7s-scissors" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-wallet"></i>
            <input type="text" readonly="" value="pe-7s-wallet" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-safe"></i>
            <input type="text" readonly="" value="pe-7s-safe" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-volume2"></i>
            <input type="text" readonly="" value="pe-7s-volume2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-volume1"></i>
            <input type="text" readonly="" value="pe-7s-volume1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-voicemail"></i>
            <input type="text" readonly="" value="pe-7s-voicemail" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-video"></i>
            <input type="text" readonly="" value="pe-7s-video" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-user"></i>
            <input type="text" readonly="" value="pe-7s-user" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-upload"></i>
            <input type="text" readonly="" value="pe-7s-upload" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-unlock"></i>
            <input type="text" readonly="" value="pe-7s-unlock" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-umbrella"></i>
            <input type="text" readonly="" value="pe-7s-umbrella" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-trash"></i>
            <input type="text" readonly="" value="pe-7s-trash" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-tools"></i>
            <input type="text" readonly="" value="pe-7s-tools" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-timer"></i>
            <input type="text" readonly="" value="pe-7s-timer" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-ticket"></i>
            <input type="text" readonly="" value="pe-7s-ticket" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-target"></i>
            <input type="text" readonly="" value="pe-7s-target" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-sun"></i>
            <input type="text" readonly="" value="pe-7s-sun" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-study"></i>
            <input type="text" readonly="" value="pe-7s-study" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-stopwatch"></i>
            <input type="text" readonly="" value="pe-7s-stopwatch" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-star"></i>
            <input type="text" readonly="" value="pe-7s-star" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-speaker"></i>
            <input type="text" readonly="" value="pe-7s-speaker" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-signal"></i>
            <input type="text" readonly="" value="pe-7s-signal" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-shuffle"></i>
            <input type="text" readonly="" value="pe-7s-shuffle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-shopbag"></i>
            <input type="text" readonly="" value="pe-7s-shopbag" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-share"></i>
            <input type="text" readonly="" value="pe-7s-share" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-server"></i>
            <input type="text" readonly="" value="pe-7s-server" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-search"></i>
            <input type="text" readonly="" value="pe-7s-search" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-film"></i>
            <input type="text" readonly="" value="pe-7s-film" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-science"></i>
            <input type="text" readonly="" value="pe-7s-science" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-disk"></i>
            <input type="text" readonly="" value="pe-7s-disk" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-ribbon"></i>
            <input type="text" readonly="" value="pe-7s-ribbon" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-repeat"></i>
            <input type="text" readonly="" value="pe-7s-repeat" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-refresh"></i>
            <input type="text" readonly="" value="pe-7s-refresh" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-add-user"></i>
            <input type="text" readonly="" value="pe-7s-add-user" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-refresh-cloud"></i>
            <input type="text" readonly="" value="pe-7s-refresh-cloud" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-paperclip"></i>
            <input type="text" readonly="" value="pe-7s-paperclip" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-radio"></i>
            <input type="text" readonly="" value="pe-7s-radio" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-note2"></i>
            <input type="text" readonly="" value="pe-7s-note2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-print"></i>
            <input type="text" readonly="" value="pe-7s-print" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-network"></i>
            <input type="text" readonly="" value="pe-7s-network" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-prev"></i>
            <input type="text" readonly="" value="pe-7s-prev" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-mute"></i>
            <input type="text" readonly="" value="pe-7s-mute" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-power"></i>
            <input type="text" readonly="" value="pe-7s-power" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-medal"></i>
            <input type="text" readonly="" value="pe-7s-medal" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-portfolio"></i>
            <input type="text" readonly="" value="pe-7s-portfolio" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-like2"></i>
            <input type="text" readonly="" value="pe-7s-like2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-plus"></i>
            <input type="text" readonly="" value="pe-7s-plus" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-left-arrow"></i>
            <input type="text" readonly="" value="pe-7s-left-arrow" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-play"></i>
            <input type="text" readonly="" value="pe-7s-play" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-key"></i>
            <input type="text" readonly="" value="pe-7s-key" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-plane"></i>
            <input type="text" readonly="" value="pe-7s-plane" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-joy"></i>
            <input type="text" readonly="" value="pe-7s-joy" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-photo-gallery"></i>
            <input type="text" readonly="" value="pe-7s-photo-gallery" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-pin"></i>
            <input type="text" readonly="" value="pe-7s-pin" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-phone"></i>
            <input type="text" readonly="" value="pe-7s-phone" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-plug"></i>
            <input type="text" readonly="" value="pe-7s-plug" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-pen"></i>
            <input type="text" readonly="" value="pe-7s-pen" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-right-arrow"></i>
            <input type="text" readonly="" value="pe-7s-right-arrow" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-paper-plane"></i>
            <input type="text" readonly="" value="pe-7s-paper-plane" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-delete-user"></i>
            <input type="text" readonly="" value="pe-7s-delete-user" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-paint"></i>
            <input type="text" readonly="" value="pe-7s-paint" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bottom-arrow"></i>
            <input type="text" readonly="" value="pe-7s-bottom-arrow" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-notebook"></i>
            <input type="text" readonly="" value="pe-7s-notebook" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-note"></i>
            <input type="text" readonly="" value="pe-7s-note" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-next"></i>
            <input type="text" readonly="" value="pe-7s-next" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-news-paper"></i>
            <input type="text" readonly="" value="pe-7s-news-paper" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-musiclist"></i>
            <input type="text" readonly="" value="pe-7s-musiclist" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-music"></i>
            <input type="text" readonly="" value="pe-7s-music" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-mouse"></i>
            <input type="text" readonly="" value="pe-7s-mouse" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-more"></i>
            <input type="text" readonly="" value="pe-7s-more" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-moon"></i>
            <input type="text" readonly="" value="pe-7s-moon" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-monitor"></i>
            <input type="text" readonly="" value="pe-7s-monitor" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-micro"></i>
            <input type="text" readonly="" value="pe-7s-micro" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-menu"></i>
            <input type="text" readonly="" value="pe-7s-menu" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-map"></i>
            <input type="text" readonly="" value="pe-7s-map" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-map-marker"></i>
            <input type="text" readonly="" value="pe-7s-map-marker" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-mail"></i>
            <input type="text" readonly="" value="pe-7s-mail" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-mail-open"></i>
            <input type="text" readonly="" value="pe-7s-mail-open" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-mail-open-file"></i>
            <input type="text" readonly="" value="pe-7s-mail-open-file" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-magnet"></i>
            <input type="text" readonly="" value="pe-7s-magnet" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-loop"></i>
            <input type="text" readonly="" value="pe-7s-loop" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-look"></i>
            <input type="text" readonly="" value="pe-7s-look" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-lock"></i>
            <input type="text" readonly="" value="pe-7s-lock" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-lintern"></i>
            <input type="text" readonly="" value="pe-7s-lintern" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-link"></i>
            <input type="text" readonly="" value="pe-7s-link" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-like"></i>
            <input type="text" readonly="" value="pe-7s-like" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-light"></i>
            <input type="text" readonly="" value="pe-7s-light" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-less"></i>
            <input type="text" readonly="" value="pe-7s-less" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-keypad"></i>
            <input type="text" readonly="" value="pe-7s-keypad" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-junk"></i>
            <input type="text" readonly="" value="pe-7s-junk" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-info"></i>
            <input type="text" readonly="" value="pe-7s-info" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-home"></i>
            <input type="text" readonly="" value="pe-7s-home" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-help2"></i>
            <input type="text" readonly="" value="pe-7s-help2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-help1"></i>
            <input type="text" readonly="" value="pe-7s-help1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-graph3"></i>
            <input type="text" readonly="" value="pe-7s-graph3" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-graph2"></i>
            <input type="text" readonly="" value="pe-7s-graph2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-graph1"></i>
            <input type="text" readonly="" value="pe-7s-graph1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-graph"></i>
            <input type="text" readonly="" value="pe-7s-graph" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-global"></i>
            <input type="text" readonly="" value="pe-7s-global" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-gleam"></i>
            <input type="text" readonly="" value="pe-7s-gleam" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-glasses"></i>
            <input type="text" readonly="" value="pe-7s-glasses" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-gift"></i>
            <input type="text" readonly="" value="pe-7s-gift" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-folder"></i>
            <input type="text" readonly="" value="pe-7s-folder" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-flag"></i>
            <input type="text" readonly="" value="pe-7s-flag" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-filter"></i>
            <input type="text" readonly="" value="pe-7s-filter" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-file"></i>
            <input type="text" readonly="" value="pe-7s-file" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-expand1"></i>
            <input type="text" readonly="" value="pe-7s-expand1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-exapnd2"></i>
            <input type="text" readonly="" value="pe-7s-exapnd2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-edit"></i>
            <input type="text" readonly="" value="pe-7s-edit" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-drop"></i>
            <input type="text" readonly="" value="pe-7s-drop" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-drawer"></i>
            <input type="text" readonly="" value="pe-7s-drawer" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-download"></i>
            <input type="text" readonly="" value="pe-7s-download" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-display2"></i>
            <input type="text" readonly="" value="pe-7s-display2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-display1"></i>
            <input type="text" readonly="" value="pe-7s-display1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-diskette"></i>
            <input type="text" readonly="" value="pe-7s-diskette" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-date"></i>
            <input type="text" readonly="" value="pe-7s-date" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cup"></i>
            <input type="text" readonly="" value="pe-7s-cup" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-culture"></i>
            <input type="text" readonly="" value="pe-7s-culture" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-crop"></i>
            <input type="text" readonly="" value="pe-7s-crop" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-credit"></i>
            <input type="text" readonly="" value="pe-7s-credit" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-copy-file"></i>
            <input type="text" readonly="" value="pe-7s-copy-file" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-config"></i>
            <input type="text" readonly="" value="pe-7s-config" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-compass"></i>
            <input type="text" readonly="" value="pe-7s-compass" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-comment"></i>
            <input type="text" readonly="" value="pe-7s-comment" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-coffee"></i>
            <input type="text" readonly="" value="pe-7s-coffee" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cloud"></i>
            <input type="text" readonly="" value="pe-7s-cloud" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-clock"></i>
            <input type="text" readonly="" value="pe-7s-clock" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-check"></i>
            <input type="text" readonly="" value="pe-7s-check" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-chat"></i>
            <input type="text" readonly="" value="pe-7s-chat" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-cart"></i>
            <input type="text" readonly="" value="pe-7s-cart" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-camera"></i>
            <input type="text" readonly="" value="pe-7s-camera" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-call"></i>
            <input type="text" readonly="" value="pe-7s-call" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-calculator"></i>
            <input type="text" readonly="" value="pe-7s-calculator" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-browser"></i>
            <input type="text" readonly="" value="pe-7s-browser" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-box2"></i>
            <input type="text" readonly="" value="pe-7s-box2" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-box1"></i>
            <input type="text" readonly="" value="pe-7s-box1" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bookmarks"></i>
            <input type="text" readonly="" value="pe-7s-bookmarks" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bicycle"></i>
            <input type="text" readonly="" value="pe-7s-bicycle" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-bell"></i>
            <input type="text" readonly="" value="pe-7s-bell" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-battery"></i>
            <input type="text" readonly="" value="pe-7s-battery" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-ball"></i>
            <input type="text" readonly="" value="pe-7s-ball" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-back"></i>
            <input type="text" readonly="" value="pe-7s-back" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-attention"></i>
            <input type="text" readonly="" value="pe-7s-attention" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-anchor"></i>
            <input type="text" readonly="" value="pe-7s-anchor" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-albums"></i>
            <input type="text" readonly="" value="pe-7s-albums" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-alarm"></i>
            <input type="text" readonly="" value="pe-7s-alarm" class="font-icon-name">
        </div>

    </div>
    <div class="font-icon-list col-md-2 col-sm-3 col-xs-6 col-xs-6">
        <div class="font-icon-detail">
            <i class="pe-7s-airplay"></i>
            <input type="text" readonly="" value="pe-7s-airplay" class="font-icon-name">
        </div>

    </div>
</div>

<script>
    yimaPage.init();
</script>