<div class="row">
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Simple Tab</h4>
        </div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-plane"></i>
                    <span>deals</span>
                </uib-tab-heading>
                <div class="widget">
                    <div class="row p-20">
                        <div class="col-xs-6">
                            <div>
                                <strong class="f-15">
                                    Apple Mac Mini
                                </strong>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right label label-primary ">
                                new
                            </span>
                        </div>
                    </div>
                    <div class="row align-center">
                        <img src="assets/img/other/mac-mini-medium.jpg" class="h-200 w-200" alt="mac mini medium"/>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-users"></i>
                    <span>Employees</span>
                </uib-tab-heading>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="pe-7s-settings"></i>
                    <span>Settings</span>
                </uib-tab-heading>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Tabs Below</h4>
        </div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-bell"></i>
                    <span>Products</span>
                </uib-tab-heading>
                <div class="widget m-b-0">
                    <div class="row p-20">
                        <div class="col-xs-6">
                            <div>
                                <strong class="f-15">
                                    Apple Mac Book Pro 2015
                                </strong>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right label label-danger ">
                                % Sale
                            </span>
                        </div>
                    </div>
                    <div class="row align-center">
                        <img src="assets/img/other/macbook-pro.jpg" class="h-200 w-300" alt="macbook pro" />
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-user-female"></i>
                    <span>Profile</span>
                </uib-tab-heading>
                <div class="page-header m-t-0">
                    <div class="page-header m-t-0">
                        <h4 class="header-text">Profile Description</h4>
                    </div>
                    <p class="f-15">
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                    </p>
                </div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <span>Pages</span>
                    <i class="pe-7s-angle-down"></i>
                </uib-tab-heading>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="hr-space space-xl"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Tabs Left</h4>
        </div>
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-home"></i>
                    <span>Home</span>
                </uib-tab-heading>
                <div class="row border-bottom-1 border-muted m-0">
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15">
                            <span class="b-400 f-13 text-muted v-a-middle">CLIENT PROFIT</span>
                            <i class="pe-7s-up-arrow p-5 f-20 text-success v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">23,149K</span>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15 pull-right">
                            <span class="b-400 f-13 text-muted v-a-middle">RESELLERS</span>
                            <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">6,054K</span>
                        </div>
                    </div>
                </div>
                <table id="scroll-verticall-table" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td>Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>$1,200,000</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>$132,000</td>
                        </tr>
                        <tr>
                            <td>Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>$206,850</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>$86,000</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-graph1"></i>
                    <span>Visits</span>
                </uib-tab-heading>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="pe-7s-graph2"></i>
                    <span>Users</span>
                </uib-tab-heading>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Tabs Right</h4>
        </div>
        <uib-tabset>
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-clock"></i>
                    <span>Events</span>
                </uib-tab-heading>
                <ul class="timeline timeline-condensed">
                    <li>
                        <div class="timeline-datetime">
                            <span class="timeline-time">
                                8:19
                            </span><span class="timeline-date">Today</span>
                        </div>
                        <div class="timeline-badge blue">
                            <i class="pe-7s-ticket"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-header">
                                <span class="timeline-title">
                                    New Items Arrived
                                </span>
                                <p class="timeline-datetime">
                                    <small class="text-muted">

                                        <span class="timeline-date">Today</span>
                                        -
                                        <span class="timeline-time">8:19</span>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-datetime">
                            <span class="timeline-time">
                                3:10
                            </span><span class="timeline-date">Today</span>
                        </div>
                        <div class="timeline-badge text-danger">
                            <i class="pe-7s-map-marker"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-header">
                                <span class="timeline-title">
                                    Visit Appointment
                                </span>
                                <p class="timeline-datetime">
                                    <small class="text-muted">
                                        <span class="timeline-date">Today</span>
                                        -
                                        <span class="timeline-time">3:10</span>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-datetime">
                            <span class="timeline-time">
                                8:19
                            </span><span class="timeline-date">Yesterday</span>
                        </div>
                        <div class="timeline-badge">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-header">
                                <span class="timeline-title">
                                    Bank Report
                                </span>
                                <p class="timeline-datetime">
                                    <small class="text-muted">

                                        <span class="timeline-date">Yesterday</span>
                                        -
                                        <span class="timeline-time">8:19</span>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-datetime">
                            <span class="timeline-time">
                                6:08
                            </span><span class="timeline-date">Yesterday</span>
                        </div>
                        <div class="timeline-badge">
                            <img src="assets/img/avatars/andy.jpg" class="badge-picture" alt="andy">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-header">
                                <span class="timeline-title">
                                    <a href="">Andy Griffin</a> has commented on your status
                                </span>
                                <p class="timeline-datetime">
                                    <small class="text-muted">

                                        <span class="timeline-date">Yesterday</span>
                                        -
                                        <span class="timeline-time">6:08</span>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-config"></i>
                    <span>Settings</span>
                </uib-tab-heading>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="pe-7s-airplay"></i>
                    <span>Airplay</span>
                </uib-tab-heading>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div class="hr-space space-xl"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Justified Tabs</h4>
        </div>
        <uib-tabset justified="true">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-bell"></i>
                    <span>Tasks</span>
                </uib-tab-heading>
                <div class="widget m-b-0">
                    <ul class="tasks-list">
                        <li>
                            <span class="label label-danger">Urgent</span>
                            <span class="task-title">User Requests</span>
                        </li>
                        <li>
                            <span class="label label-success">Low</span>
                            <span class="task-title">
                                Install Ruby

                            </span>
                        </li>
                        <li>
                            <span class="label label-warning">Normal</span>
                            <span class="task-title">
                                Ask for permission

                            </span>
                        </li>
                        <li>
                            <span class="label label-danger">Urgent</span>
                            <span class="task-title">User Requests</span>
                        </li>
                        <li>
                            <span class="label label-success">Low</span>
                            <span class="task-title">
                                Install Ruby
                            </span>
                        </li>
                        <li>
                            <span class="label label-warning">Normal</span>
                            <span class="task-title">
                                Update Operating System
                            </span>
                        </li>
                    </ul>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-settings"></i>
                    <span>Settings</span>
                </uib-tab-heading>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-lg-6">
        <div class="page-header">
            <h4 class="header-text">Justified Tabs Below</h4>
        </div>
        <uib-tabset justified="true">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="pe-7s-home"></i>
                    <span>Home</span>
                </uib-tab-heading>
                <div class="row border-bottom-1 border-muted m-0">
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15">
                            <span class="b-400 f-13 text-muted v-a-middle">CLIENT PROFIT</span>
                            <i class="pe-7s-up-arrow p-5 f-20 text-success v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">23,149K</span>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="p-10 p-l-15 p-r-15 pull-right">
                            <span class="b-400 f-13 text-muted v-a-middle">RESELLERS</span>
                            <i class="pe-7s-bottom-arrow p-5 f-20 text-danger v-a-middle"></i>
                            <span class="b-400 f-15 v-a-middle">6,054K</span>
                        </div>
                    </div>
                </div>
                <table id="scroll-verticall-table2" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td>Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>$1,200,000</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>$132,000</td>
                        </tr>
                        <tr>
                            <td>Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>$206,850</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>$86,000</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="pe-7s-settings"></i>
                    <span>Settings</span>
                </uib-tab-heading>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </uib-tab>
        </uib-tabset>
    </div>
</div>