<div class="row">
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="f-15 p-15">
                    <strong>Monthly User Graph</strong>
                    <div id="chart1-legend"></div>
                </div>
                <div id="chart1" class="h-200" style="margin: 30px -8px 0;"></div>
                <div class="row p-25">
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            164
                        </div>
                        <div class="f-15 b-200">
                            Online Users
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                            data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                            data-linecolor="success" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                            data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                            data-set="6,6,7,6,3,6,7,4,5,9,6,1,2">
                        </div>
                    </div>
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            203
                        </div>
                        <div class="f-15 b-200">
                            Today Registers
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px"
                            data-sparkline="line" data-linewidth="1" data-highlightlinecolor="#fff"
                            data-highlightspotcolor="#fff" data-linecolor="warning" data-fillcolor="#fff"
                            data-maxspotcolor="#ffce55" data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                            data-set="6,6,7,4,5,9,6,1,2,7">
                        </div>
                    </div>
                </div>
                <div class="row p-25">
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            96
                        </div>
                        <div class="f-15 b-200">
                            Today Sales
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                            data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                            data-linecolor="info" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                            data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                            data-set="6,7,4,5,9,6,1,2,7,6,3,1,1">
                        </div>
                    </div>
                    <div class="col-lg-6 p-10">
                        <div class="f-30">
                            2
                        </div>
                        <div class="f-15 b-200">
                            Returned Orders
                        </div>
                        <div class="m-t-5" data-width="100%" data-height="30px" data-sparkline="line"
                            data-linewidth="1" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                            data-linecolor="default" data-fillcolor="#fff" data-maxspotcolor="#ffce55"
                            data-minspotcolor="#fafafa" data-spotcolor="#fafafa" data-spotradius="0"
                            data-set="1,2,3,1,1,2,1,2,3,1,1,2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="f-15 p-t-20 align-center p-20">
                    <div class="b-300 text-muted">Search Engines</div>
                    <strong>Tuesday, October 27, 2015</strong>
                </div>
                <div class="align-center m-t-40">
                    <div class="ep-chart" data-percent="75" data-toggle="easypiechart" data-barcolor="primary" data-size="180" data-linewidth="2">
                        <span class="percent f-25" style="line-height: 90px;"><i class="pe-7s-up-arrow f-20 p-5"></i>75</span>
                    </div>
                </div>
                <div class="p-25 m-t-40">
                    <div class="row">
                        <div class="col-lg-3 border-primary border-left-2 p-5">
                            <div class="f-15 b-500">55%</div>
                            <div class="text-muted f-15 b-300">Google</div>
                        </div>
                        <div class="col-lg-3  border-danger border-left-2 p-5">
                            <div class="f-15 b-500">25%</div>
                            <div class="text-muted f-15 b-300">Bing</div>
                        </div>
                        <div class="col-lg-3 border-warning border-left-2 p-5">
                            <div class="f-15 b-500">10%</div>
                            <div class="text-muted f-15 b-300">Ask</div>
                        </div>
                        <div class="col-lg-3 border-info border-left-2 p-5">
                            <div class="f-15 b-500">10%</div>
                            <div class="text-muted f-15 b-300">Other</div>
                        </div>
                    </div>
                </div>
                <div class="bg-warning m-t-70 p-15 b-300 h-90">
                    <div class="f-30 p-10 pull-left">
                        2014
                    </div>
                    <div class="f-30 bg-default pull-right p-20 box-shadow shadow-xlg" style="margin-top: -55px">2015</div>
                </div>
                <div class="p-10 f-14 b-300 h-40">
                    <a href="" class="text-muted pull-right">View Compelete Data Set
                        <i class="pe-7s-angle-right-circle v-a-middle f-20"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <h4 class="header-text">Tabed Data Widgets</h4>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <ul class="nav nav-tabs nav-justified p-5">
                    <li class="active">
                        <a data-toggle="tab" href="#tab2-graph" aria-expanded="true">
                            <i class="pe-7s-graph1 f-30"></i>
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#tab2-profile" aria-expanded="false">
                            <i class="pe-7s-users f-30"></i>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab2-date" aria-expanded="false">
                            <i class="pe-7s-date f-30"></i>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab2-settings" aria-expanded="false">
                            <i class="pe-7s-config f-30"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab2-graph" class="tab-pane active p-0">
                        <div class="bg-danger p-0">
                            <div class="f-35 p-t-75 align-center">
                                October 2015
                            </div>
                            <div class="f-17 align-center p-10">
                                Payment Stats
                            </div>
                            <div id="chart2" class="h-200" style="margin: 30px -8px -10px -8px;"></div>
                        </div>
                        <div class="p-15 b-300 align-center bg-white">
                            <div class="row p-25">
                                <div class="col-lg-6 p-10">
                                    <div class="f-35">
                                        462
                                    </div>
                                    <div class="f-15 b-200 p-10">
                                        Payments
                                    </div>
                                </div>
                                <div class="col-lg-6 p-10">
                                    <div class="f-35">
                                        23
                                    </div>
                                    <div class="f-15 b-200 p-10">
                                        Refunds
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white h-70">
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                </div>
                            </div>
                            <div class="p-15 b-300 align-center">
                                <div class="row">
                                    <div class="col-xs-4  border-muted border-right-1">
                                        <div class="f-15 b-500">55%</div>
                                        <div class="text-muted f-15 b-300">Visits</div>
                                    </div>
                                    <div class="col-xs-4  border-muted border-right-1">
                                        <div class="f-15 b-500">-15%</div>
                                        <div class="text-muted f-15 b-300">Sales</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="f-15 b-500">25%</div>
                                        <div class="text-muted f-15 b-300">Check Outs</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2-profile" class="tab-pane p-0">
                        <div class="bg-warning p-0">
                            <div class="f-35 p-t-75 align-center">
                                October 2015
                            </div>
                            <div class="f-17 align-center p-10">
                                Users
                            </div>
                            <div id="chart3" class="h-200" style="margin: 30px -8px -10px -8px;"></div>
                        </div>
                        <div class="p-15 b-300 align-center bg-white">
                            <div class="row p-25">
                                <div class="col-lg-6 p-10">
                                    <div class="f-35">
                                        203
                                    </div>
                                    <div class="f-15 b-200 p-10">
                                        Users Data
                                    </div>
                                </div>
                                <div class="col-lg-6 p-10">
                                    <div class="f-35">
                                        79
                                    </div>
                                    <div class="f-15 b-200 p-10">
                                        Sells
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white h-70">
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                </div>
                            </div>
                            <div class="p-15 b-300 align-center">
                                <div class="row">
                                    <div class="col-xs-4  border-muted border-right-1">
                                        <div class="f-15 b-500">55%</div>
                                        <div class="text-muted f-15 b-300">Visits</div>
                                    </div>
                                    <div class="col-xs-4  border-muted border-right-1">
                                        <div class="f-15 b-500">-15%</div>
                                        <div class="text-muted f-15 b-300">Sales</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="f-15 b-500">25%</div>
                                        <div class="text-muted f-15 b-300">Check Outs</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2-date" class="tab-pane">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                    <div id="tab2-settings" class="tab-pane">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <ul class="nav nav-tabs nav-justified p-5">
                    <li class="active">
                        <a data-toggle="tab" href="#graph" aria-expanded="true">
                            <i class="pe-7s-graph1 f-30"></i>
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#profile" aria-expanded="false">
                            <i class="pe-7s-users f-30"></i>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#settings" aria-expanded="false">
                            <i class="pe-7s-config f-30"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="graph" class="tab-pane active p-0">
                        <div class="bg-primary">
                            <div class="f-25 p-t-20 align-center p-20">
                                Wednesday
                            </div>
                            <div class="align-center m-t-40">
                                <div class="ep-chart" data-percent="50" data-toggle="easypiechart" data-barcolor="#fff" data-size="200" data-linewidth="15" data-trackcolor="#eee" data-linecap="butt">
                                    <span class="percent f-25" style="line-height: 90px;"><i class="pe-7s-bottom-arrow f-20 p-5"></i>50</span>
                                </div>
                            </div>
                            <div class="p-25 m-t-40 align-center">
                                <div class="f-20 b-500">55%</div>
                                <div class="f-20 b-300">Yesterday</div>
                            </div>
                        </div>
                        <div class="p-15 b-300 align-center">
                            <div class="row">
                                <div class="col-xs-4  border-muted border-right-1">
                                    <div class="f-15 b-500">55%</div>
                                    <div class="text-muted f-15 b-300">Visits</div>
                                </div>
                                <div class="col-xs-4  border-muted border-right-1">
                                    <div class="f-15 b-500">-15%</div>
                                    <div class="text-muted f-15 b-300">Sales</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="f-15 b-500">25%</div>
                                    <div class="text-muted f-15 b-300">Check Outs</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="profile" class="tab-pane p-0">
                        <div class="bg-default">
                            <div class="f-25 p-t-20 align-center p-20">
                                User Profiles
                            </div>
                            <div class="align-center m-t-40">
                                <div class="ep-chart" data-percent="30" data-toggle="easypiechart" data-barcolor="#fff" data-size="200" data-linewidth="10" data-trackcolor="#ccc" data-linecap="butt">
                                    <span class="percent f-25" style="line-height: 90px;"><i class="pe-7s-up-arrow f-20 p-5"></i>30</span>
                                </div>
                            </div>
                            <div class="p-25 m-t-40 align-center">
                                <div class="f-20 b-500">15%</div>
                                <div class="f-20 b-300">Yesterday</div>
                            </div>
                        </div>
                        <div class="p-15 b-300 align-center">
                            <div class="row">
                                <div class="col-xs-4  border-muted border-right-1">
                                    <div class="f-15 b-500">38%</div>
                                    <div class="text-muted f-15 b-300">Registers</div>
                                </div>
                                <div class="col-xs-4  border-muted border-right-1">
                                    <div class="f-15 b-500">20%</div>
                                    <div class="text-muted f-15 b-300">Payments</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="f-15 b-500">12%</div>
                                    <div class="text-muted f-15 b-300">Sign Ins</div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="settings" class="tab-pane">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h4 class="header-text">Multi-Part Widgets</h4>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="bg-white">
                    <div class="row">
                        <div class="col-lg-8 p-20">
                            <div class="pull-left">
                                <img src="assets/img/avatars/andy.jpg" class="img-circle h-80 w-80" alt="andy" />
                            </div>
                            <div class="pull-left p-10 p-l-25">
                                <strong class="f-25">Andreas Lurng</strong>
                                <div class="f-15 b-300">Team Leader</div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-20">
                            <div class="border-left-1 border-muted p-l-10">
                                <div class="f-35">7<span class="f-20">Years</span></div>
                                <div class="f-20 text-primary">
                                    <i class="pe-7s-up-arrow f-30 v-a-middle"></i>
                                    64<span class="f-15">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-default h-300">
                    <div class="row">
                        <div class="col-lg-8 p-20">
                            <div class="ep-chart pull-left" data-percent="55" data-toggle="easypiechart" data-barcolor="primary" data-size="80" data-linewidth="2">
                                <span class="percent f-20 b-300" style="line-height: 90px;">55</span>
                            </div>
                            <div class="pull-left p-10 p-l-25">
                                <strong class="f-20 b-300">Performance</strong>
                                <div class="f-15 text-primary b-300">Average</div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-50 align-center" data-width="95%" data-height="70px" data-sparkline="line"
                        data-linewidth="2" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                        data-linecolor="primary" data-fillcolor="default" data-maxspotcolor="primary"
                        data-minspotcolor="primary" data-spotcolor="primary" data-spotradius="4"
                        data-set="3,6,7,6,0,6,7,4,5,12,6,1,5">
                    </div>
                </div>
                <div class="row align-center">
                    <div class="col-lg-6 bg-primary p-20">
                        <div class="f-35">
                            186
                        </div>
                        <div class="f-15 b-300">
                            Cources
                        </div>
                    </div>
                    <div class="col-lg-6 bg-white p-20">
                        <div class="f-35">
                            17
                        </div>
                        <div class="f-15 b-300">
                            Projects
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-container">
            <div class="widget">
                <div class="bg-white border-bottom-1 border-muted">
                    <div class="row">
                        <div class="col-lg-8 p-20">
                            <div class="pull-left">
                                <img src="assets/img/avatars/andy.jpg" class="img-circle h-80 w-80" alt="andy" />
                            </div>
                            <div class="pull-left p-10 p-l-25">
                                <strong class="f-25">Andreas Lurng</strong>
                                <div class="f-15 b-300">Team Leader</div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-20">
                            <div class="border-left-1 border-muted p-l-10">
                                <div class="f-35">7<span class="f-20">Years</span></div>
                                <div class="f-20 text-primary">
                                    <i class="pe-7s-up-arrow f-30 v-a-middle"></i>
                                    64<span class="f-15">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white h-300  border-bottom-1 border-muted">
                    <div class="row">
                        <div class="col-lg-8 p-20">
                            <div class="ep-chart pull-left" data-percent="55" data-toggle="easypiechart" data-barcolor="primary" data-size="80" data-linewidth="2">
                                <span class="percent f-20 b-300" style="line-height: 90px;">55</span>
                            </div>
                            <div class="pull-left p-10 p-l-25">
                                <strong class="f-20 b-300">Performance</strong>
                                <div class="f-15 text-primary b-300">Average</div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-50 align-center" data-width="95%" data-height="70px" data-sparkline="line"
                        data-linewidth="2" data-highlightlinecolor="#fff" data-highlightspotcolor="#fff"
                        data-linecolor="primary" data-fillcolor="#fff" data-maxspotcolor="primary"
                        data-minspotcolor="primary" data-spotcolor="primary" data-spotradius="4"
                        data-set="3,6,7,6,0,6,7,4,5,12,6,1,5">
                    </div>
                </div>
                <div class="row align-center">
                    <div class="col-lg-6 border-bottom-3 border-primary p-20">
                        <div class="f-35">
                            186
                        </div>
                        <div class="f-15 b-300">
                            Cources
                        </div>
                    </div>
                    <div class="col-lg-6  border-bottom-3 border-default p-20">
                        <div class="f-35">
                            17
                        </div>
                        <div class="f-15 b-300">
                            Projects
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    yimaPage.init();
</script>