{
  "globals": {
    "window": false,
    "jQuery": false,
    "clearInterval": false,
    "setTimeout": false,
    "clearTimeout": false,
    "$": false
  },
  "rules": {
    "no-extra-semi": 0
  }
}