.idea/*

.git

assets/cache/*.js
assets/cache/*.css
assets/cache/*.cache
assets/cache/dev/*.css
themes/*/cache/**

*.jar
*.orig

framework/application/cache/pages/http**
framework/application/cache/database/**
framework/application/cache/assetic/**
framework/application/logs/**
framework/application/sessions/ci_**
assets/public/audio/**
assets/public/files/**
assets/public/images/**