.idea/
.git
.env
composer.lock
npm-debug.log

node_modules/
flexcms/sessions/ci_**
assets/audio/**
assets/files/**
assets/images/**

flexcms/logs/
flexcms/cache/
flexcms/uploads/
assets/cache/
!index.html
