/* Color principal (hexadecimal) puede ser un color corporativo */
/* Color secundario (hexadecimal) puede ser un color corporativo */
body.reservaciones .columns.pos_1 .module,
body.noticias .columns.pos_1 .module,
body.contacto .columns.pos_1 .module,
body.catalogo .columns.pos_1 .module {
  margin-bottom: 30px; }
body.reservaciones .columns.pos_1 .mod_banner.habitaciones h2,
body.noticias .columns.pos_1 .mod_banner.habitaciones h2,
body.contacto .columns.pos_1 .mod_banner.habitaciones h2,
body.catalogo .columns.pos_1 .mod_banner.habitaciones h2 {
  margin-bottom: -40px;
  top: 10px;
  z-index: 1; }
body.reservaciones .columns.pos_1 .mod_banner.habitaciones img,
body.noticias .columns.pos_1 .mod_banner.habitaciones img,
body.contacto .columns.pos_1 .mod_banner.habitaciones img,
body.catalogo .columns.pos_1 .mod_banner.habitaciones img {
  display: inline; }

body.catalogo .main_content h2,
body.noticias .main_content h2,
body.contacto .mod_contacto h2 {
  background: none;
  padding: 0;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  box-shadow: none; }
body.catalogo .main_content h2:before,
body.catalogo .main_content h2:after,
body.noticias .main_content h2:before,
body.noticias .main_content h2:after,
body.contacto .mod_contacto h2:before,
body.contacto .mod_contacto h2:after {
  display: none; }

body.contacto .article {
  background: none; }
@media all and (min-width: 640px) {
  body.contacto .main_content,
  body.contacto .mod_contacto {
    width: 50%;
    float: left; } }
body.contacto .mod_contacto #enviar,
body.contacto .mod_contacto #borrar {
  padding: 13px 35px;
  float: right;
  margin-left: 5px; }
body.contacto .mod_contacto #borrar {
  background: #8E9090;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8E9090 0%, #747777 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8E9090), color-stop(100%, #747777));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8E9090 0%, #747777 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8E9090 0%, #747777 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8E9090 0%, #747777 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8E9090 0%, #747777 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  /* IE6-8 */ }

body.catalogo h1 {
  display: none; }
body.catalogo h2 strong {
  color: #98AF42;
  font-weight: normal; }
@media all and (max-width: 640px) {
  body.catalogo h2 {
    font-size: 32px !important; } }
body.catalogo #productos .producto {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 6px solid #8E9090;
  margin-bottom: 20px; }
  body.catalogo #productos .producto img {
    position: absolute;
    top: -30%; }
  body.catalogo #productos .producto h3 {
    position: absolute;
    font-family: libel_suitregular, Arial, Helvetica, sans-serif;
    color: #fff;
    bottom: 0;
    left: 0;
    background: #000;
    padding: 10px 33px;
    font-weight: normal;
    margin: 0;
    z-index: 1; }
    @media all and (min-width: 940px) {
      body.catalogo #productos .producto h3 {
        font-size: 55px; } }
    @media all and (max-width: 939px) {
      body.catalogo #productos .producto h3 {
        font-size: 6vw; } }
  body.catalogo #productos .producto a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
body.catalogo #productos .producto:after {
  padding-top: 40%;
  display: block;
  content: ''; }
body.catalogo #detalle .gal_wrapper {
  margin-bottom: 20px;
  border: 6px solid #8E9090; }
  body.catalogo #detalle .gal_wrapper .info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    color: #BBBCBC; }
body.catalogo .info.texto {
  max-height: 300px;
  overflow: auto; }
body.catalogo h2.nombre {
  float: left;
  width: auto; }
body.catalogo .regresar {
  display: block;
  float: right;
  padding: 10px 0 10px 33px;
  background: url("../images/flecha_servicios_left.png") no-repeat 0 center;
  color: #646464;
  font-family: libel_suitregular, Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-top: 50px; }

body.reservaciones .delete {
  background: url("../images/ico_delete.png");
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  display: block; }
body.reservaciones td,
body.reservaciones th {
  border: 1px solid #000; }
body.reservaciones thead {
  background: #636363; }
  body.reservaciones thead th,
  body.reservaciones thead td {
    color: #8E9090;
    padding: 21px 0;
    text-align: center;
    font-weight: normal;
    font-size: 16px; }
body.reservaciones tr .custom.dropdown,
body.reservaciones tr input {
  margin-bottom: 0; }
body.reservaciones tr.grand_total {
  font-size: 30px; }
  body.reservaciones tr.grand_total th {
    font-family: libel_suitregular, Arial, Helvetica, sans-serif;
    color: #98AF42 !important;
    text-transform: uppercase; }
body.reservaciones p.incluye {
  font-size: 18px; }
  body.reservaciones p.incluye strong {
    color: #98AF42; }
body.reservaciones h4.adicionales {
  color: #CECECE;
  font-size: 17px; }
body.reservaciones h3 {
  font-size: 27px;
  font-family: libel_suitregular, Arial, Helvetica, sans-serif;
  color: #8E9090; }
body.reservaciones .line-top {
  border-top: 1px dotted #646464;
  padding-top: 24px;
  margin-top: 31px; }
body.reservaciones legend {
  width: 100%;
  background: none;
  margin: 0 0 0 -7px;
  padding: 0; }
body.reservaciones fieldset {
  background: #333;
  border: none;
  padding-top: 30px;
  margin-bottom: 42px; }
  body.reservaciones fieldset h4 {
    color: #fff; }

/*# sourceMappingURL=pages.css.map */
