@import '../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #71caff;
  width: 11px;
}

.ps__thumb-y {
  border-radius: 0;
}
