


<div id="chatbar" class="chatbar">
    <div class="chatbar-contacts">
        <div class="sidebar-header">
            <div class="contacts-header">
                <div class="header-user online">
                    <img class="user-avatar pull-left" src="assets/img/avatars/andy.jpg" />

                    <div class="user-info pull-left">
                        <div class="user-name">Fabian Mellan Jr.</div>
                        <div class="user-status">Working From Home!</div>
                    </div>
                </div>
                <ul class="header-actions pull-left">
                    <li id="action-collapse">
                        <a>
                            <i class="pe-7s-angle-right-circle"></i>
                        </a>
                    </li>
                </ul>
                <ul class="header-actions pull-right">
                    <li id="action-add">
                        <a>
                            <i class="pe-7s-add-user"></i>
                        </a>
                    </li>
                    <li id="action-call">
                        <a>
                            <i class="pe-7s-keypad"></i>
                        </a>
                    </li>
                    <li id="action-settings">
                        <a>
                            <i class="pe-7s-config"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-body">
            <div class="contacts-search">
                <input type="text" class="searchinput" placeholder="Search Contacts" />
                <i class="searchicon pe-7s-search"></i>
            </div>
            <ul class="contacts-list">
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/allison.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Lola Terrell</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            6:24 PM
                        </div>
                        <div class="contact-last-message">Let's see each other asap.</div>
                    </div>
                </li>
                <li class="contact away">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jim.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Dee Magdalena</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            12:00 PM
                        </div>
                        <div class="contact-last-message">Sent you connect request.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/claudio.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Richard Zane</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            01 Sep
                        </div>
                        <div class="contact-last-message">Have a good day. See ya!</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jared.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Midge Christal</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            10 Aug
                        </div>
                        <div class="contact-last-message">See the files. Tnx!</div>
                    </div>
                </li>
                <li class="contact offline">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/florian.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Bazza Deemer</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            04 Aug
                        </div>
                        <div class="contact-last-message">Do not forget about tomorrow.</div>
                    </div>
                </li>
                <li class="contact away">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/anna.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Quinten Charnette</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            04 Aug
                        </div>
                        <div class="contact-last-message">See you next week.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/adelle.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Madeline Upton</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/cleb.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Ainsley Jeanie</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jsa.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Mason Evelyn</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            8:28 PM
                        </div>
                        <div class="contact-last-message">Are we still going for coffee?</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chatbar-messages" style="display: none;">
        <div class="sidebar-header">
            <div class="messages-header">
                <div class="header-user online">
                    <img class="user-avatar pull-left" src="assets/img/avatars/allison.jpg" />

                    <div class="user-info pull-left">
                        <div class="user-name">Lola Terrell</div>
                        <div class="user-status">Relaxing</div>
                    </div>
                </div>
                <ul class="header-actions pull-left">
                    <li class="action-collapse">
                        <a>
                            <i class="pe-7s-angle-right-circle"></i>
                        </a>
                    </li>
                </ul>
                <ul class="header-actions pull-right">
                    <li id="action-back">
                        <a>
                            <i class="pe-7s-home"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="messages-list">
                <li class="message">
                    <div class="message-info">
                        <div class="contact-name">Me</div>
                        <div class="message-time">10:14 AM</div>
                    </div>
                    <div class="message-body">
                        Hi, Hope all is good. Are we meeting today?
                    </div>
                </li>
                <li class="message reply">
                    <div class="message-info">
                        <div class="contact-name">Lola</div>
                        <div class="message-time">10:15 AM</div>
                    </div>
                    <div class="message-body">
                        Perfect, I am really glad to hear that! How may I help you today?
                    </div>
                </li>
                <li class="message">
                    <div class="message-info">
                        <div class="bullet"></div>
                        <div class="contact-name">Me</div>
                        <div class="message-time">10:14 AM</div>
                    </div>
                    <div class="message-body">
                        I’m sorry, I don’t have the information on that. May I put you on hold for a few minutes? I will clarify this with our manager.
                    </div>
                </li>
                <li class="message reply">
                    <div class="message-info">
                        <div class="bullet"></div>
                        <div class="contact-name">Lola</div>
                        <div class="message-time">10:15 AM</div>
                    </div>
                    <div class="message-body">
                        erry, I am going to connect you with Steve from the shipping department. He will be able to help you with this problem.
                    </div>
                </li>
                <li class="message">
                    <div class="message-info">
                        <div class="bullet"></div>
                        <div class="contact-name">Me</div>
                        <div class="message-time">10:14 AM</div>
                    </div>
                    <div class="message-body">
                        May I put your call on hold while I am checking your order?
                    </div>
                </li>
                <li class="message reply">
                    <div class="message-info">
                        <div class="bullet"></div>
                        <div class="contact-name">Lola</div>
                        <div class="message-time">10:15 AM</div>
                    </div>
                    <div class="message-body">
                        Bye, See you.
                    </div>
                </li>
            </ul>
            <div class="messages-send">
                <div class="append-icon">
                    <input class="form-control" type="text" placeholder="Type your message" />
                    <i class="pe-7s-paperclip text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/pages/partials/chat.js"></script>
