

<div id="searchbar" class="searchbar">
    <div class="sidebar-header">
        <div class="header-title">
            <i class="pe-7s-search"></i>
            <span>Search in Contacts, Pages, ....</span>
        </div>
        <div class="header-description">
            <input type="text" class="form-control" placeholder="Search in Contacts">
        </div>
        <div class="header-close">
            <i class="pe-7s-angle-right-circle"></i>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="search-results">
            <div class="result">
                <a class="result-title" href="">Page Result Sample</a>
                <a class="result-link" href="">www.issatislab.com</a>
                <div class="result-description">
                    For basic styling—light padding and only horizontal dividers—add the base class .
                </div>
            </div>
            <div class="result">
                <a class="result-title" href="">Fabian Mellan Jr.</a>
                <a class="result-link" href="">www.issatislab.com/Contacts/Fabian</a>
                <div class="result-description">
                    <img class="description-image" src="assets/img/avatars/andy.jpg" />
                    <span class="description-text">
                        For basic styling—light padding and only horizontal dividers—add the base class .
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/pages/partials/settings.js"></script>
