


<div id="searchbar" class="searchbar">
    <div class="sidebar-header">
        <div class="header-title">
            <i class="pe-7s-search"></i>
            <span>Search Icons</span>
        </div>
        <div class="header-description">
            <input id="search-input" type="text" class="form-control" placeholder="Search in Icons" autofocus>
        </div>
        <div class="header-close">
            <i class="pe-7s-angle-right-circle"></i>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="callout callout-primary m-b-0">
            <h4>Enter name of your icon</h4>
            <p>
                By entering the name of icon in the box above you will be able to access the icon that you want easier.
            </p>
            <p>
                For example enter 'ham' for hammer icon.
            </p>
        </div>
        <div class="search-results row">

        </div>
    </div>
</div>
<script src="assets/js/pages/partials/search-icon.js"></script>
