


<div id="helpbar" class="helpbar">
    <div class="sidebar-header">
        <div class="header-title">
            <i class="pe-7s-timer"></i>
            <span>Your Recent Activities</span>
        </div>
        <div class="header-description">
            This Week in a TimeLine Fashion
        </div>
        <div class="header-close">
            <i class="pe-7s-angle-right-circle"></i>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="p-10 p-l-15 p-r-15">
            <ul class="timeline timeline-condensed">
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            8:19
                        </span><span class="timeline-date">Today</span>
                    </div>
                    <div class="timeline-badge blue">
                        <i class="pe-7s-ticket"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                New Items Arrived
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Today</span>
                                    -
                                    <span class="timeline-time">8:19</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            3:10
                        </span><span class="timeline-date">Today</span>
                    </div>
                    <div class="timeline-badge text-danger">
                        <i class="pe-7s-map-marker"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                Visit Appointment
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">
                                    <span class="timeline-date">Today</span>
                                    -
                                    <span class="timeline-time">3:10</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            8:19
                        </span><span class="timeline-date">Yesterday</span>
                    </div>
                    <div class="timeline-badge">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                Bank Report
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Yesterday</span>
                                    -
                                    <span class="timeline-time">8:19</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            6:08
                        </span><span class="timeline-date">Yesterday</span>
                    </div>
                    <div class="timeline-badge">
                        <img src="assets/img/avatars/andy.jpg" class="badge-picture">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                <a href="">Andy Griffin</a> has commented on your status
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Yesterday</span>
                                    -
                                    <span class="timeline-time">6:08</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            7:00
                        </span><span class="timeline-date">Yesterday</span>
                    </div>
                    <div class="timeline-badge danger">
                        <i class="pe-7s-light"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title danger">
                                Deadline Added
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Yesterday</span>
                                    -
                                    <span class="timeline-time">4:00</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            3:09
                        </span><span class="timeline-date">Yesterday</span>
                    </div>
                    <div class="timeline-badge">
                        <i class="pe-7s-photo"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title danger">
                                New Picture
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Yesterday</span>
                                    -
                                    <span class="timeline-time">3:09</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            6:08
                        </span><span class="timeline-date">Yesterday</span>
                    </div>
                    <div class="timeline-badge">
                        <img src="assets/img/avatars/cleb.jpg" class="badge-picture">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                <a href="">Cleb Jamson</a> is now a connection.
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">24th October</span>
                                    -
                                    <span class="timeline-time">12:08</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            3:10
                        </span><span class="timeline-date">23th October</span>
                    </div>
                    <div class="timeline-badge text-danger">
                        <i class="pe-7s-map-marker"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                Visit Appointment
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">
                                    <span class="timeline-date">Today</span>
                                    -
                                    <span class="timeline-time">3:10</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            8:19
                        </span><span class="timeline-date">22th October</span>
                    </div>
                    <div class="timeline-badge">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <span class="timeline-title">
                                Bank Report
                            </span>
                            <p class="timeline-datetime">
                                <small class="text-muted">

                                    <span class="timeline-date">Yesterday</span>
                                    -
                                    <span class="timeline-time">8:19</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $('.sidebar.form .header-close').on('click', function () {
        $('.sidebar.form').addClass('collapsed');
    });
</script>
