/*Calendar Event*/
/*Notification*/
/*Alert*/
/*Badge*/
/*Buttons*/
/*Checkbox*/
/*Form Controls*/
/*Helpers*/
/*Labels*/
/*Modal*/
/*Panels*/
/*Popover*/
/*Progress Bar*/
/*Switch*/
/*Tabs*/
/*Tooltip*/
/*Navbar*/
.content-nav-navbar .navbar-nav > .open > a {
  border-top-color: #0C9FD6 !important;
}
.content-nav-navbar .content-nav-navbar-content .thumbnail-links > li > a .link-title,
.content-nav-navbar .content-nav-navbar-content .categories-links > li .category-title,
.content-nav-navbar .content-nav-navbar-content .gallery-links > li > a .link-title {
  color: #0C9FD6;
}
/*Sidebar*/
.sidebar .sidebar-header {
  background-color: #0C9FD6;
}
.sidebar.menu .sidebar-header .header-notification {
  background-color: #0b98cc;
}
.sidebar.menu .sidebar-menu .menu > li.active > a {
  color: #0C9FD6;
}
.sidebar.menu .sidebar-menu .menu > li > ul li.active a {
  color: #0C9FD6;
}
.sidebar.menu .sidebar-menu .menu > li > ul li.profile-picture a img {
  border-bottom-color: #0C9FD6;
}
/*Loading*/
.animsition-overlay-slide {
  background-color: #0C9FD6;
}
.animsition-loading .logo {
  background-color: #0C9FD6;
}
/*Widget Panels: Image Tile*/
.image-tile .tile.more-images {
  background-color: #0C9FD6;
}
/*Chartist*/
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: #0C9FD6;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #0b98cc;
}
/*Chat*/
.chatbar .chatbar-messages .messages-list .message.reply .message-body {
  background-color: #0C9FD6;
}
.chatbar .chatbar-messages .messages-list .message.reply .message-body:before {
  border-bottom-color: #0C9FD6;
}
.chatbar .chatbar-contacts .contacts-search .searchicon {
  color: #0C9FD6;
}
/*Datatables*/
.table.dataTable tbody tr.active td,
.table.dataTable tbody tr.active th {
  background-color: #0C9FD6;
}
.table.dataTable tbody tr.active:hover td,
.table.dataTable tbody tr.active:hover th {
  background-color: #0b98cc !important;
}
.table-striped.dataTable tbody tr.active:nth-child(odd) td,
.table-striped.dataTable tbody tr.active:nth-child(odd) th {
  background-color: #0b98cc;
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0C9FD6;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #0C9FD6;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  background-color: #0C9FD6;
}
td.details-control:before {
  background-color: #0C9FD6;
}
/*DatePicker*/
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  color: #fff;
  background-color: #0C9FD6;
  border-color: #0b8dbe;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #fff;
  background-color: #0c9fd6;
  border-color: #0b8dbe;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  background-image: none;
}
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td.active,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active.disabled,
fieldset[disabled] .datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover.disabled:hover,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active.disabled:hover.disabled:hover,
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active:hover[disabled]:hover,
.datepicker table tr td.active.disabled[disabled]:hover,
.datepicker table tr td.active.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active:hover:hover,
fieldset[disabled] .datepicker table tr td.active.disabled:hover,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active:hover.disabled:focus,
.datepicker table tr td.active.disabled.disabled:focus,
.datepicker table tr td.active.disabled:hover.disabled:focus,
.datepicker table tr td.active[disabled]:focus,
.datepicker table tr td.active:hover[disabled]:focus,
.datepicker table tr td.active.disabled[disabled]:focus,
.datepicker table tr td.active.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td.active:focus,
fieldset[disabled] .datepicker table tr td.active:hover:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:focus,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active:hover.disabled:active,
.datepicker table tr td.active.disabled.disabled:active,
.datepicker table tr td.active.disabled:hover.disabled:active,
.datepicker table tr td.active[disabled]:active,
.datepicker table tr td.active:hover[disabled]:active,
.datepicker table tr td.active.disabled[disabled]:active,
.datepicker table tr td.active.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td.active:active,
fieldset[disabled] .datepicker table tr td.active:hover:active,
fieldset[disabled] .datepicker table tr td.active.disabled:active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active:hover.disabled.active,
.datepicker table tr td.active.disabled.disabled.active,
.datepicker table tr td.active.disabled:hover.disabled.active,
.datepicker table tr td.active[disabled].active,
.datepicker table tr td.active:hover[disabled].active,
.datepicker table tr td.active.disabled[disabled].active,
.datepicker table tr td.active.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.active.active,
fieldset[disabled] .datepicker table tr td.active:hover.active,
fieldset[disabled] .datepicker table tr td.active.disabled.active,
fieldset[disabled] .datepicker table tr td.active.disabled:hover.active {
  background-color: #0C9FD6;
  border-color: #0b8dbe;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  color: #fff;
  background-color: #0C9FD6;
  border-color: #0b8dbe;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  color: #fff;
  background-color: #0c9fd6;
  border-color: #0b8dbe;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-image: none;
}
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled],
fieldset[disabled] .datepicker table tr td span.active,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover.disabled:hover,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active.disabled:hover.disabled:hover,
.datepicker table tr td span.active[disabled]:hover,
.datepicker table tr td span.active:hover[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled]:hover,
.datepicker table tr td span.active.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active:hover:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active:hover.disabled:focus,
.datepicker table tr td span.active.disabled.disabled:focus,
.datepicker table tr td span.active.disabled:hover.disabled:focus,
.datepicker table tr td span.active[disabled]:focus,
.datepicker table tr td span.active:hover[disabled]:focus,
.datepicker table tr td span.active.disabled[disabled]:focus,
.datepicker table tr td span.active.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td span.active:focus,
fieldset[disabled] .datepicker table tr td span.active:hover:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active:hover.disabled:active,
.datepicker table tr td span.active.disabled.disabled:active,
.datepicker table tr td span.active.disabled:hover.disabled:active,
.datepicker table tr td span.active[disabled]:active,
.datepicker table tr td span.active:hover[disabled]:active,
.datepicker table tr td span.active.disabled[disabled]:active,
.datepicker table tr td span.active.disabled:hover[disabled]:active,
fieldset[disabled] .datepicker table tr td span.active:active,
fieldset[disabled] .datepicker table tr td span.active:hover:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active:hover.disabled.active,
.datepicker table tr td span.active.disabled.disabled.active,
.datepicker table tr td span.active.disabled:hover.disabled.active,
.datepicker table tr td span.active[disabled].active,
.datepicker table tr td span.active:hover[disabled].active,
.datepicker table tr td span.active.disabled[disabled].active,
.datepicker table tr td span.active.disabled:hover[disabled].active,
fieldset[disabled] .datepicker table tr td span.active.active,
fieldset[disabled] .datepicker table tr td span.active:hover.active,
fieldset[disabled] .datepicker table tr td span.active.disabled.active,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover.active {
  background-color: #0C9FD6;
  border-color: #0b8dbe;
}
/*DateRangePicker*/
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #0C9FD6;
  border: 1px solid #0C9FD6;
}
.daterangepicker td.in-range {
  background: #b3e7fb;
}
.daterangepicker td.today.active,
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0C9FD6;
  border-color: #0C9FD6;
}
/*Dropzone*/
.dropzone {
  border-color: #0C9FD6;
}
/*FullCalendar*/
.fc-event {
  border-color: #0C9FD6;
}
.calendar-event a:before {
  background-color: #0C9FD6;
}
.calendar-event.event-primary a:before {
  background-color: #0C9FD6;
}
/*GMaps*/
.overlay {
  background: #0C9FD6;
  border-color: #0C9FD6;
}
.overlay_arrow.above {
  border-top-color: #0C9FD6;
}
.overlay_arrow.below {
  border-bottom-color: #0C9FD6;
}
/*Mail*/
.mail-container .mail-header {
  background-color: #0C9FD6;
}
.mail-container .mail-header .header-buttons li.search-box {
  color: #9be0f9;
}
.mail-container .mail-header .header-buttons li.search-box input {
  border-color: #9be0f9;
}
.mail-container .mail-header .header-buttons li.search-box input::-webkit-input-placeholder {
  color: #9be0f9;
}
.mail-container .mail-header .header-buttons li.search-box input:-moz-placeholder {
  color: #9be0f9;
}
.mail-container .mail-header .header-buttons li.search-box input::-moz-placeholder {
  color: #9be0f9;
}
.mail-container .mail-header .header-buttons li.search-box input:-ms-input-placeholder {
  color: #9be0f9;
}
.mail-container .mail-body .message-list .list-item:before {
  background-color: #0C9FD6;
}
.mail-container .mail-body .message-view .message .header a {
  color: #0C9FD6;
}
.mail-container .mail-body .message-view .message .message-container li .tool-box a {
  color: #0C9FD6;
}
/*Nestable List*/
.dd-handle:hover {
  color: #0C9FD6;
}
.dd3-content:hover {
  color: #0C9FD6;
}
/*Notification*/
.ns-box {
  background: #0C9FD6;
}
.ns-box.primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
.ns-box.primary a {
  color: #ffffff;
}
.ns-box.primary a:hover {
  color: #f5f5f5;
}
.ns-box.primary .ns-close:before,
.ns-box.primary .ns-close:after {
  background: #ffffff;
}
.ns-box.primary .ns-close:hover:before,
.ns-box.primary .ns-close:hover:after {
  background: #ffffff;
}
.ns-box.ns-effect-thumbslider.primary .ns-content {
  background-color: #0C9FD6;
  color: #ffffff;
}
.ns-box.ns-effect-thumbslider.primary .ns-content a {
  color: #ffffff;
}
.ns-box.ns-effect-thumbslider.primary .ns-content a:hover {
  color: #f5f5f5;
}
.ns-box.ns-effect-thumbslider.primary .ns-content .ns-close:before,
.ns-box.ns-effect-thumbslider.primary .ns-content .ns-close:after {
  background: #ffffff;
}
.ns-box.ns-effect-thumbslider.primary .ns-content .ns-close:hover:before,
.ns-box.ns-effect-thumbslider.primary .ns-content .ns-close:hover:after {
  background: #ffffff;
}
/*Pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0C9FD6;
  border-color: #0C9FD6;
}
/*Select2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #0C9FD6;
  border-color: #0C9FD6;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0C9FD6;
}
/*Slider*/
.range-quantity {
  background-color: #0C9FD6;
}
.irs-from,
.irs-to,
.irs-single {
  background: #0C9FD6;
}
.irs-bar {
  background-color: #0C9FD6;
}
/*@wizard*/
.wizard .steps li.active {
  background: #0C9FD6;
}
.wizard .steps li.active .chevron:before {
  border-left-color: #0C9FD6;
}
/*Alert*/
.alert-primary {
  color: #ffffff;
  background-color: #0C9FD6;
}
/*Badge*/
.badge-primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
/*Buttons*/
.btn-primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0b98cc;
  color: #ffffff;
}
.btn-primary:active,
.btn-primary:focus {
  background-color: #0b98cc;
  color: #ffffff;
}
.btn-primary:disabled,
.btn-primary .disabled {
  background-color: #3bc1f4;
  color: #ffffff;
}
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #3bc1f4;
  color: #ffffff;
}
.open > .dropdown-toggle.btn-primary {
  background-color: #0b98cc;
  color: #ffffff;
}
/*Checkbox*/
input[type=checkbox].checkbox-primary:checked ~ .text {
  color: #0C9FD6;
}
input[type=checkbox].checkbox-primary:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #0C9FD6;
  color: #0C9FD6;
}
input[type=checkbox].checkbox-primary ~ .text {
  color: #0C9FD6;
}
input[type=checkbox].checkbox-primary ~ .text:before {
  border-color: #0C9FD6;
  color: #0C9FD6;
}
input[type=radio].radio-primary:checked ~ .text {
  color: #0C9FD6;
}
input[type=radio].radio-primary:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #0C9FD6;
  color: #0C9FD6;
}
input[type=radio].radio-primary ~ .text {
  color: #0C9FD6;
}
input[type=radio].radio-primary ~ .text:before {
  border-color: #0C9FD6;
  color: #0C9FD6;
}
/*Form Controls*/
.form-control.bg-primary {
  border-color: #0C9FD6;
}
.form-control.bg-primary:focus {
  border-color: #0b98cc;
}
/*Helpers*/
.bg-primary {
  background-color: #0C9FD6 !important;
  color: #ffffff !important;
}
.border-primary {
  border-width: 0;
  border-color: #0C9FD6 !important;
  border-style: solid;
}
.text-primary {
  color: #0C9FD6 !important;
}
.text-primary:hover {
  color: #0b98cc !important;
}
/*Labels*/
.label-primary {
  color: #ffffff;
  background-color: #0C9FD6;
}
/*Modal*/
.modal-header.header-primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
.modal-message.modal-primary .modal-header {
  background-color: #0C9FD6;
  color: #ffffff;
}
/*Panels*/
.panel-primary > .panel-heading {
  background-color: #0C9FD6;
  color: #ffffff;
}
.panel-primary > .panel-heading .panel-title {
  color: #ffffff;
}
/*Popover*/
.popover.primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
.popover.primary .popover-title {
  background-color: #0C9FD6;
  color: #ffffff;
}
.popover.primary .popover-content {
  border-top: 2px solid #ffffff;
}
.popover.primary.top .arrow:after {
  border-top-color: #0C9FD6;
}
.popover.primary.bottom .arrow:after {
  border-bottom-color: #0C9FD6;
}
.popover.primary.left .arrow:after {
  border-left-color: #0C9FD6;
}
.popover.primary.right .arrow:after {
  border-right-color: #0C9FD6;
}
/*Progress Bar*/
.progress-bar-primary {
  background-color: #0C9FD6;
}
/*Switch*/
input[type=checkbox].switch.switch-primary ~ .text:after {
  border-color: #0C9FD6;
}
input[type=checkbox].switch.switch-primary:checked ~ .text:before {
  background-color: #0C9FD6;
  border-color: #0C9FD6;
}
input[type=checkbox].switch.switch-primary:checked ~ .text:after {
  background-color: #0C9FD6;
  border-color: #ffffff;
}
input[type=checkbox].switch.switch-primary.slider-icon:checked ~ .text:after {
  color: #ffffff;
}
input[type=checkbox].switch.switch-primary.slider-icon ~ .text:after {
  color: #0C9FD6;
}
input[type=checkbox].switch.switch-primary.toggle:checked ~ .text:after {
  color: #0C9FD6;
  background-color: #ffffff;
}
input[type=checkbox].switch.switch-primary.toggle ~ .text:after {
  background-color: #0C9FD6;
}
/*Tabs*/
.tab-content .tab-pane.tab-pane-primary {
  background-color: #0C9FD6;
  color: #ffffff;
}
.nav-tabs > li.active.tab-primary > a,
.nav-tabs > li.active.tab-primary > a:hover,
.nav-tabs > li.active.tab-primary > a:focus {
  color: #ffffff;
}
.nav-tabs > li.active.tab-primary > a:after {
  background-color: #0C9FD6;
}
/*Tooltip*/
.tooltip-primary + .tooltip > .tooltip-inner {
  background-color: #0C9FD6;
  border: 1px solid #0C9FD6;
  color: #ffffff;
}
.tooltip-primary + .tooltip.top .tooltip-arrow {
  border-top-color: #0C9FD6;
}
.tooltip-primary + .tooltip.right .tooltip-arrow {
  border-right-color: #0C9FD6;
}
.tooltip-primary + .tooltip.left .tooltip-arrow {
  border-left-color: #0C9FD6;
}
.tooltip-primary + .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0C9FD6;
}
/*Dropdown*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #0C9FD6;
}
.animsition-loading .loading,
body {
  background: #292929 url("../../../img/fondo_dark.jpg") no-repeat;
  background-size: cover;
}
.panel {
  background-color: #3a3a3a;
}
.form-heading {
  border-bottom-color: rgba(255, 255, 255, 0.2);
  color: #cacaca;
}
.prepend-icon i {
  color: rgba(255, 255, 255, 0.6);
}
.input-group-addon {
  background-color: #2f2f2f;
  border: 1px solid #2b2b2b;
}
