@import "lib/lesshat.less";

.animsition {
  height: 100%;
}

ul[dnd-list], ul[dnd-list] > li {
  position: relative;
}

.dndDraggingSource {
  display: none;
}

.search {
  md-content {
    padding-bottom: 0;
    padding-top: 0;
  }
  md-input-container {
    margin-bottom: 0;
  }
}

.panel-tools {

  .transition(all, 200ms);
  height: 80px;

  .tools {
    animation: slideInUp 200ms;
  }
  .tools.ng-hide {
    animation: slideOutDown 200ms;
  }

  md-content {
    overflow: hidden;
  }

}
.panel-tools.ng-hide {
  height: 0;
}

.node {

  .transition(all, 200ms);
  display: flex;

  [ui-tree-handle] {
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center;
  }

}

#pages {
  .node {
    [ui-tree-handle] {
      display: none;
    }
  }
}

#windows {
  position: absolute;
  top: 35px;
  left: 13px;
  right: 13px;
  display: flex;
  overflow: auto;
  padding: 42px 0;
  bottom: 0;

  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;

  > [app-view-segment] {

    height: 100%;
    position: relative;
    .transition(all, 400ms);
    opacity: 0;
    right: -30%;

    > .panel {
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.76);
      height: 100%;
      min-width: 350px;
      margin-right: 10px;

      > md-toolbar {
        border-bottom: 5px solid;
      }

    }
  }

  > [app-view-segment].active {
    opacity: 1;
  }

  > [app-view-segment].active:first-child {
    left: 0;
  }

  > [app-view-segment]:not(.active) {
    z-index: -1;
    opacity: 0;
    right: -30%;
  }

  > [app-view-segment].ng-leave {
    display: none;
    position: absolute;
  }

  md-backdrop {
    opacity: 1;
  }

  md-list-item {
    width: 100%;

    .item-name {
      display: flex;
      justify-content: flex-start;
      md-icon {
        margin: 0 14px 0 0;
      }
    }

  }

}

.angular-ui-tree-placeholder {
  background-color: #212121;
}

.main-content {
  position: relative;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;

  .md-panel {
    background-color: #212121;
  }

  [ui-tree-handle] {
    margin-left: 15px;
  }

}

.panel-loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.panel-body {
  height: 100%;
  overflow: auto;
}

.panel-footer.list {
  a {
    display: block;
  }
}

.panel.small-width {
  width: 350px;
}
.panel.medium-width {
  width: 650px;
}
.panel.large-width {
  width: 950px;
}

.table-condensed > thead > tr > th {
  padding: 0 13px 4px 13px;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th {
  padding: 8px 13px 0;
}

.table > tbody > tr > td:first-child, .table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child, .table > tfoot > tr > th:first-child {
  padding-left: 11px;
}

.table > tbody > tr > td:last-child, .table > tbody > tr > th:last-child,
.table > thead > tr > th:last-child, .table > tfoot > tr > th:last-child {
  padding-right: 11px;
}

md-dialog-content {
  .icon {
    text-align: center;
    margin: -24px -24px 0;

    i {
      font-size: 103px;
    }

  }
}

.keep-one {
  md-list {
    > li:first-child {

      background: #404040;

      .delete {
        display: none;
      }
    }
  }
}

[dnd-list="rows"] > * {
  border: 1px solid #333;
}

.column {
  min-height: 100px;
  border: 1px dashed #fff;
}





/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.nestedDemo .dropzone ul[dnd-list] {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.nestedDemo .dropzone li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
  opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dndDraggingSource {
  display: none !important;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
  background-color: #ddd;
  min-height: 42px;
  display: block;
  position: relative;
}

/***************************** Element Selection *****************************/

.nestedDemo .dropzone .selected .item {
  color: #3c763d;
  background-color: #dff0d8;
}

.nestedDemo .dropzone .selected .box {
  border-color: #d6e9c6;
}

.nestedDemo .dropzone .selected .box > h3 {
  color: #3c763d;
  background-color: #dff0d8;
  background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
  border-color: #d6e9c6;
}

/***************************** Element type specific styles *****************************/

.nestedDemo .dropzone .item {
  padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
  margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
  float: left;
  width: 50%;
}

/***************************** Toolbox *****************************/

.nestedDemo .toolbox ul {
  list-style: none;
  padding-left: 0px;
  cursor: move;
}

.nestedDemo .toolbox button {
  margin: 5px;
  width: 123px;
  opacity: 1.0;
}

.nestedDemo .toolbox .dndDragging {
  opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
  opacity: 1.0;
}

/***************************** Trashcan *****************************/

.nestedDemo .trashcan ul {
  list-style: none;
  padding-left: 0px;
}

.nestedDemo .trashcan img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
  width: 100%;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
  display: none;
}