.animsition {
  height: 100%;
}
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}
.dndDraggingSource {
  display: none;
}
.search md-content {
  padding-bottom: 0;
  padding-top: 0;
}
.search md-input-container {
  margin-bottom: 0;
}
.panel-tools {
  transition: all 200ms;
  height: 80px;
}
.panel-tools .tools {
  animation: slideInUp 200ms;
}
.panel-tools .tools.ng-hide {
  animation: slideOutDown 200ms;
}
.panel-tools md-content {
  overflow: hidden;
}
.panel-tools.ng-hide {
  height: 0;
}
.node {
  display: flex;
}
.node [ui-tree-handle] {
  display: flex;
  width: 35px;
  align-items: center;
  justify-content: center;
}
#pages .node [ui-tree-handle] {
  display: none;
}
#windows {
  position: absolute;
  top: 35px;
  left: 13px;
  right: 13px;
  display: flex;
  overflow: auto;
  padding: 42px 0;
  bottom: 0;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
#windows > [app-view-segment] {
  height: 100%;
  position: relative;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  opacity: 0;
  /*-webkit-transform-origin: right;
    -moz-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    position: absolute;*/
}
#windows > [app-view-segment] > .panel {
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.76);
  height: 100%;
  min-width: 350px;
  margin-right: 10px;
}
#windows > [app-view-segment].active {
  opacity: 1;
}
#windows > [app-view-segment].active:first-child {
  left: 0;
}
#windows > [app-view-segment]:not(.active) {
  z-index: -1;
  opacity: 0;
}
.main-content {
  position: relative;
}
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
}
.panel-body {
  height: 100%;
  overflow: auto;
}
.panel-footer.list a {
  display: block;
}
.panel.small-width {
  min-width: 350px;
}
.panel.medium-width {
  min-width: 650px !important;
}
.table-condensed > thead > tr > th {
  padding: 0 13px 4px 13px;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th {
  padding: 8px 13px 0;
}
.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child,
.table > tfoot > tr > th:first-child {
  padding-left: 11px;
}
.table > tbody > tr > td:last-child,
.table > tbody > tr > th:last-child,
.table > thead > tr > th:last-child,
.table > tfoot > tr > th:last-child {
  padding-right: 11px;
}
